AInews_TechIntelligence_v4.yml
app:
  description: 'v4.0 - Primary source first, entity watch, weak signal detection, Gemini'
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: AInews_TechIntelligence_v4
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.6.4@17f286b2d6699a258a2eba8bc1bff71b8f795b6aa7bee1464cbfa450b451303a
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tavily:0.1.4@63760777d2aed19b308ee4518125bccea491dfa518609802edb6a3a31272c665
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: Supabase Project URL
    id: env_supabase_url
    name: SUPABASE_URL
    selector:
    - env
    - SUPABASE_URL
    value: ''
    value_type: string
  - description: Supabase Anonymous Key
    id: env_supabase_anon_key
    name: SUPABASE_ANON_KEY
    selector:
    - env
    - SUPABASE_ANON_KEY
    value: ''
    value_type: secret
  - description: Slack Incoming Webhook URL
    id: env_slack_webhook_url
    name: SLACK_WEBHOOK_URL
    selector:
    - env
    - SLACK_WEBHOOK_URL
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 4001-source-4002-target
      source: '4001'
      sourceHandle: source
      target: '4002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 4002-source-4003-target
      source: '4002'
      sourceHandle: source
      target: '4003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 4002-source-4004-target
      source: '4002'
      sourceHandle: source
      target: '4004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 4002-source-4005-target
      source: '4002'
      sourceHandle: source
      target: '4005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 4003-source-4006-target
      source: '4003'
      sourceHandle: source
      target: '4006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 4004-source-4006-target
      source: '4004'
      sourceHandle: source
      target: '4006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 4006-source-4007-target
      source: '4006'
      sourceHandle: source
      target: '4007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: parameter-extractor
      id: 4007-source-4007b-target
      source: '4007'
      sourceHandle: source
      target: 4007b
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: parameter-extractor
        targetType: iteration
      id: 4007b-source-4008-target
      source: 4007b
      sourceHandle: source
      target: '4008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '4008'
        sourceType: iteration-start
        targetType: tool
      id: 4008start-source-4009-target
      source: 4008start
      sourceHandle: source
      target: '4009'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '4008'
        sourceType: tool
        targetType: code
      id: 4009-source-4010-target
      source: '4009'
      sourceHandle: source
      target: '4010'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: variable-aggregator
      id: 4008-source-4011-target
      source: '4008'
      sourceHandle: source
      target: '4011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 4006-source-4030-target
      source: '4006'
      sourceHandle: source
      target: '4030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 4006-source-4031-target
      source: '4006'
      sourceHandle: source
      target: '4031'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 4031-source-4032-target
      source: '4031'
      sourceHandle: source
      target: '4032'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 4030-source-4033-target
      source: '4030'
      sourceHandle: source
      target: '4033'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 4032-source-4033-target
      source: '4032'
      sourceHandle: source
      target: '4033'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: code
      id: 4011-source-4012-target
      source: '4011'
      sourceHandle: source
      target: '4012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 4033-source-4012-target
      source: '4033'
      sourceHandle: source
      target: '4012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 4012-source-4013-target
      source: '4012'
      sourceHandle: source
      target: '4013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 4013-source-4014-target
      source: '4013'
      sourceHandle: source
      target: '4014'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 4005-source-4014-target
      source: '4005'
      sourceHandle: source
      target: '4014'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 4014-source-4016-target
      source: '4014'
      sourceHandle: source
      target: '4016'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 4016-source-4017-target
      source: '4016'
      sourceHandle: source
      target: '4017'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 4017-source-4018-target
      source: '4017'
      sourceHandle: source
      target: '4018'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 4018-source-4019-target
      source: '4018'
      sourceHandle: source
      target: '4019'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 4019-source-4020-target
      source: '4019'
      sourceHandle: source
      target: '4020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 4019-source-4021-target
      source: '4019'
      sourceHandle: source
      target: '4021'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 4020-source-4023-target
      source: '4020'
      sourceHandle: source
      target: '4023'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 4021-source-4023-target
      source: '4021'
      sourceHandle: source
      target: '4023'
      targetHandle: target
      type: custom
      zIndex: 0

    nodes:
    - data:
        selected: false
        title: "ユーザー入力"
        type: start
        variables:
        - default: AI
          hint: ''
          label: "トピック"
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: topic
      height: 109
      id: '4001'
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "from datetime import datetime, timedelta\n\ndef main(topic: str) -> dict:\n    today = datetime.now()\n    weekday = today.weekday()\n    if weekday == 0:\n        days_back = 3\n    elif weekday == 2:\n        days_back = 2\n    elif weekday == 4:\n        days_back = 2\n    else:\n        days_back = 1\n    start_date = today - timedelta(days=days_back)\n    date_range = f\"{start_date.strftime('%Y-%m-%d')} to {today.strftime('%Y-%m-%d')}\"\n    query_suffix = f\"after:{start_date.strftime('%Y-%m-%d')}\"\n    return {\n        \"date_range\": date_range,\n        \"query_suffix\": query_suffix,\n        \"start_date_iso\": start_date.strftime('%Y-%m-%d'),\n        \"today_iso\": today.strftime('%Y-%m-%d')\n    }"
        code_language: python3
        outputs:
          date_range:
            children: null
            type: string
          query_suffix:
            children: null
            type: string
          start_date_iso:
            children: null
            type: string
          today_iso:
            children: null
            type: string
        selected: false
        title: "初期化・日付計算"
        type: code
        variables:
        - value_selector:
          - '4001'
          - topic
          value_type: string
          variable: topic
      height: 52
      id: '4002'
      position:
        x: 380
        y: 300
      positionAbsolute:
        x: 380
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        headers: 'apikey:{{#env.SUPABASE_ANON_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_ANON_KEY#}}

          Content-Type:application/json'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 0
        title: "前回配信データ取得"
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/deliveries?order=delivery_date.desc&limit=1'
        variables: []
      height: 157
      id: '4003'
      position:
        x: 700
        y: 100
      positionAbsolute:
        x: 700
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        headers: 'apikey:{{#env.SUPABASE_ANON_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_ANON_KEY#}}

          Content-Type:application/json'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 0
        title: "3軸ウォッチリスト取得"
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/watch_entities?status=eq.active&order=priority.desc'
        variables: []
      height: 157
      id: '4004'
      position:
        x: 700
        y: 300
      positionAbsolute:
        x: 700
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        headers: 'apikey:{{#env.SUPABASE_ANON_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_ANON_KEY#}}

          Content-Type:application/json'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 0
        title: "ドメイン信頼度取得"
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/domain_trust?select=domain,trust_score,category'
        variables: []
      height: 157
      id: '4005'
      position:
        x: 700
        y: 500
      positionAbsolute:
        x: 700
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(prev_delivery: str, watchlist_data: str) -> dict:\n    prev_keywords = []\n    prev_titles = []\n    try:\n        prev_data = json.loads(prev_delivery)\n        if isinstance(prev_data, list) and len(prev_data) > 0:\n            rec = prev_data[0]\n            prev_keywords = rec.get('keywords', [])\n            cats = rec.get('categories', {})\n            for items in cats.values():\n                if isinstance(items, list):\n                    for item in items:\n                        if isinstance(item, dict) and 'title' in item:\n                            prev_titles.append(item['title'])\n    except:\n        pass\n\n    companies = []\n    oss_list = []\n    categories_list = []\n    try:\n        wl = json.loads(watchlist_data)\n        if isinstance(wl, list):\n            for item in wl:\n                t = item.get('entity_type', '')\n                entry = {\"name\": item.get(\"name\", \"\"), \"priority\": item.get(\"priority\", 5), \"search_names\": item.get(\"search_names\", [item.get(\"name\", \"\")]), \"official_domain\": item.get(\"official_domain\", \"\")}\n                if t == 'company':\n                    companies.append(entry)\n                elif t == 'oss':\n                    entry[\"github_repo\"] = item.get(\"github_repo\", \"\")\n                    oss_list.append(entry)\n                elif t == 'category':\n                    entry[\"search_terms\"] = item.get(\"search_terms\", [item.get(\"name\", \"\")])\n                    categories_list.append(entry)\n    except:\n        pass\n\n    if not companies:\n        companies = [\n            {\"name\": \"OpenAI\", \"search_names\": [\"OpenAI\"], \"official_domain\": \"openai.com\", \"priority\": 10},\n            {\"name\": \"Anthropic\", \"search_names\": [\"Anthropic\", \"Claude\"], \"official_domain\": \"anthropic.com\", \"priority\": 10},\n            {\"name\": \"Google DeepMind\", \"search_names\": [\"Google DeepMind\", \"Gemini\"], \"official_domain\": \"deepmind.google\", \"priority\": 9},\n            {\"name\": \"Meta AI\", \"search_names\": [\"Meta AI\", \"Llama\"], \"official_domain\": \"ai.meta.com\", \"priority\": 9},\n            {\"name\": \"Cursor\", \"search_names\": [\"Cursor AI\"], \"official_domain\": \"cursor.com\", \"priority\": 8},\n            {\"name\": \"Vercel\", \"search_names\": [\"Vercel\", \"v0.dev\"], \"official_domain\": \"vercel.com\", \"priority\": 7},\n            {\"name\": \"Mistral\", \"search_names\": [\"Mistral AI\"], \"official_domain\": \"mistral.ai\", \"priority\": 8},\n            {\"name\": \"Hugging Face\", \"search_names\": [\"Hugging Face\", \"HuggingFace\"], \"official_domain\": \"huggingface.co\", \"priority\": 8}\n        ]\n    if not oss_list:\n        oss_list = [\n            {\"name\": \"vllm\", \"github_repo\": \"vllm-project/vllm\", \"search_names\": [\"vLLM\"], \"priority\": 9},\n            {\"name\": \"ollama\", \"github_repo\": \"ollama/ollama\", \"search_names\": [\"Ollama\"], \"priority\": 9},\n            {\"name\": \"langchain\", \"github_repo\": \"langchain-ai/langchain\", \"search_names\": [\"LangChain\"], \"priority\": 8},\n            {\"name\": \"browser-use\", \"github_repo\": \"browser-use/browser-use\", \"search_names\": [\"browser-use\"], \"priority\": 7},\n            {\"name\": \"dify\", \"github_repo\": \"langgenius/dify\", \"search_names\": [\"Dify\"], \"priority\": 7}\n        ]\n    if not categories_list:\n        categories_list = [\n            {\"name\": \"AI IDE\", \"search_terms\": [\"AI IDE\", \"AI code editor\"], \"priority\": 9},\n            {\"name\": \"agent infrastructure\", \"search_terms\": [\"AI agent framework\", \"agent platform\"], \"priority\": 9},\n            {\"name\": \"MCP\", \"search_terms\": [\"Model Context Protocol\", \"MCP server\"], \"priority\": 8},\n            {\"name\": \"inference infrastructure\", \"search_terms\": [\"LLM inference\", \"inference engine\"], \"priority\": 7},\n            {\"name\": \"AI observability\", \"search_terms\": [\"LLM observability\", \"AI monitoring\"], \"priority\": 6}\n        ]\n\n    watch_summary = f\"Companies: {', '.join(c['name'] for c in companies[:8])} | OSS: {', '.join(o['name'] for o in oss_list[:5])} | Categories: {', '.join(c['name'] for c in categories_list[:5])}\"\n    return {\n        \"prev_keywords_json\": json.dumps(prev_keywords, ensure_ascii=False),\n        \"prev_titles_json\": json.dumps(prev_titles, ensure_ascii=False),\n        \"companies_json\": json.dumps(companies, ensure_ascii=False),\n        \"oss_json\": json.dumps(oss_list, ensure_ascii=False),\n        \"categories_json\": json.dumps(categories_list, ensure_ascii=False),\n        \"watch_summary\": watch_summary\n    }"
        code_language: python3
        outputs:
          categories_json:
            children: null
            type: string
          companies_json:
            children: null
            type: string
          oss_json:
            children: null
            type: string
          prev_keywords_json:
            children: null
            type: string
          prev_titles_json:
            children: null
            type: string
          watch_summary:
            children: null
            type: string
        selected: false
        title: "初期データ解析"
        type: code
        variables:
        - value_selector:
          - '4003'
          - body
          value_type: string
          variable: prev_delivery
        - value_selector:
          - '4004'
          - body
          value_type: string
          variable: watchlist_data
      height: 52
      id: '4006'
      position:
        x: 1050
        y: 300
      positionAbsolute:
        x: 1050
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(companies_json: str, oss_json: str, categories_json: str, query_suffix: str) -> dict:\n    companies = json.loads(companies_json) if companies_json else []\n    oss_list = json.loads(oss_json) if oss_json else []\n    categories = json.loads(categories_json) if categories_json else []\n\n    launch_events = '(launch OR release OR announcing OR introducing OR \"now available\" OR beta OR GA)'\n    release_events = '(\"release notes\" OR changelog OR SDK OR API OR \"open source\" OR \"github release\")'\n    signal_events = '(docs OR \"API reference\" OR \"getting started\" OR pricing OR waitlist)'\n\n    queries = []\n\n    companies.sort(key=lambda x: x.get('priority', 0), reverse=True)\n    for c in companies[:8]:\n        names = c.get('search_names', [c['name']])\n        name_part = ' OR '.join(f'\"{n}\"' for n in names)\n        domain = c.get('official_domain', '')\n        if domain:\n            queries.append(f'site:{domain} {launch_events} {query_suffix}')\n        else:\n            queries.append(f'({name_part}) {launch_events} {query_suffix}')\n\n    oss_list.sort(key=lambda x: x.get('priority', 0), reverse=True)\n    for o in oss_list[:5]:\n        repo = o.get('github_repo', '')\n        if repo:\n            queries.append(f'\"{o[\"name\"]}\" (release OR update OR changelog) site:github.com {query_suffix}')\n        else:\n            queries.append(f'\"{o[\"name\"]}\" {release_events} {query_suffix}')\n\n    categories.sort(key=lambda x: x.get('priority', 0), reverse=True)\n    for cat in categories[:5]:\n        terms = cat.get('search_terms', [cat['name']])\n        term_part = ' OR '.join(f'\"{t}\"' for t in terms)\n        queries.append(f'({term_part}) {launch_events} {query_suffix}')\n\n    return {\"query_list_json\": json.dumps(queries, ensure_ascii=False)}"
        code_language: python3
        outputs:
          query_list_json:
            children: null
            type: string
        selected: false
        title: "クエリ自動生成"
        type: code
        variables:
        - value_selector:
          - '4006'
          - companies_json
          value_type: string
          variable: companies_json
        - value_selector:
          - '4006'
          - oss_json
          value_type: string
          variable: oss_json
        - value_selector:
          - '4006'
          - categories_json
          value_type: string
          variable: categories_json
        - value_selector:
          - '4002'
          - query_suffix
          value_type: string
          variable: query_suffix
      height: 52
      id: '4007'
      position:
        x: 1400
        y: 200
      positionAbsolute:
        x: 1400
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        instruction: "入力テキストはJSON配列です。query_listに格納してください。"
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        parameters:
        - description: "検索クエリリスト"
          name: query_list
          required: true
          type: array[string]
        query:
        - '4007'
        - query_list_json
        reasoning_mode: prompt
        selected: false
        title: "クエリリスト変換"
        type: parameter-extractor
        vision:
          enabled: false
      height: 94
      id: 4007b
      position:
        x: 1750
        y: 200
      positionAbsolute:
        x: 1750
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: continue-on-error
        flatten_output: true
        height: 350
        is_parallel: true
        iterator_input_type: array[string]
        iterator_selector:
        - 4007b
        - query_list
        output_selector:
        - '4010'
        - result
        output_type: array[string]
        parallel_nums: 2
        selected: false
        start_node_id: 4008start
        title: "検索ループ"
        type: iteration
        width: 850
      height: 350
      id: '4008'
      position:
        x: 2100
        y: 50
      positionAbsolute:
        x: 2100
        y: 50
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 850
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 4008start
      parentId: '4008'
      position:
        x: 24
        y: 140
      positionAbsolute:
        x: 2124
        y: 190
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: false
        iteration_id: '4008'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The search query you want to execute with Tavily.
            ja_JP: The search query you want to execute with Tavily.
            pt_BR: The search query you want to execute with Tavily.
            zh_Hans: 您想用 Tavily 执行的搜索查询。
          label:
            en_US: Query
            ja_JP: Query
            pt_BR: Query
            zh_Hans: 查询
          llm_description: The search query.
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: basic
          form: llm
          human_description:
            en_US: The depth of the search.
            ja_JP: The depth of the search.
            pt_BR: The depth of the search.
            zh_Hans: 搜索的深度。
          label:
            en_US: Search Depth
            ja_JP: Search Depth
            pt_BR: Search Depth
            zh_Hans: 搜索深度
          llm_description: The depth of the search. 'basic' for standard search, 'advanced'
            for more comprehensive results.
          max: null
          min: null
          name: search_depth
          options:
          - icon: ''
            label:
              en_US: Basic
              ja_JP: Basic
              pt_BR: Basic
              zh_Hans: 基本
            value: basic
          - icon: ''
            label:
              en_US: Advanced
              ja_JP: Advanced
              pt_BR: Advanced
              zh_Hans: 高级
            value: advanced
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: general
          form: llm
          human_description:
            en_US: The category of the search.
            ja_JP: The category of the search.
            pt_BR: The category of the search.
            zh_Hans: 搜索的类别。
          label:
            en_US: Topic
            ja_JP: Topic
            pt_BR: Topic
            zh_Hans: 主题
          llm_description: The category of the search. Options include 'general',
            'news', or 'finance'.
          max: null
          min: null
          name: topic
          options:
          - icon: ''
            label:
              en_US: General
              ja_JP: General
              pt_BR: General
              zh_Hans: 一般
            value: general
          - icon: ''
            label:
              en_US: News
              ja_JP: News
              pt_BR: News
              zh_Hans: 新闻
            value: news
          - icon: ''
            label:
              en_US: Finance
              ja_JP: Finance
              pt_BR: Finance
              zh_Hans: 金融
            value: finance
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 7
          form: llm
          human_description:
            en_US: The number of days back from the current date to include in the
              search results (only applicable when "topic" is "news").
            ja_JP: The number of days back from the current date to include in the
              search results (only applicable when "topic" is "news").
            pt_BR: The number of days back from the current date to include in the
              search results (only applicable when "topic" is "news").
            zh_Hans: 从当前日期起向前追溯的天数，以包含在搜索结果中（仅当"topic"为"news"时适用）。
          label:
            en_US: Days
            ja_JP: Days
            pt_BR: Days
            zh_Hans: 天数
          llm_description: The number of days back from the current date to include
            in the search results. Only applicable when "topic" is "news".
          max: null
          min: 1
          name: days
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: not_specified
          form: llm
          human_description:
            en_US: The time range back from the current date to filter results.
            ja_JP: The time range back from the current date to filter results.
            pt_BR: The time range back from the current date to filter results.
            zh_Hans: 从当前日期起向后筛选结果的时间范围。
          label:
            en_US: Time Range
            ja_JP: Time Range
            pt_BR: Time Range
            zh_Hans: 时间范围
          llm_description: The time range back from the current date to filter results.
            Options include 'not_specified', 'day', 'week', 'month', or 'year'.
          max: null
          min: null
          name: time_range
          options:
          - icon: ''
            label:
              en_US: Not Specified
              ja_JP: Not Specified
              pt_BR: Not Specified
              zh_Hans: 不指定
            value: not_specified
          - icon: ''
            label:
              en_US: Day
              ja_JP: Day
              pt_BR: Day
              zh_Hans: 天
            value: day
          - icon: ''
            label:
              en_US: Week
              ja_JP: Week
              pt_BR: Week
              zh_Hans: 周
            value: week
          - icon: ''
            label:
              en_US: Month
              ja_JP: Month
              pt_BR: Month
              zh_Hans: 月
            value: month
          - icon: ''
            label:
              en_US: Year
              ja_JP: Year
              pt_BR: Year
              zh_Hans: 年
            value: year
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Automatically configure search parameters based on query content
              and intent.
            ja_JP: Automatically configure search parameters based on query content
              and intent.
            pt_BR: Automatically configure search parameters based on query content
              and intent.
            zh_Hans: 根据查询内容和意图自动配置搜索参数。
          label:
            en_US: Auto Parameters
            ja_JP: Auto Parameters
            pt_BR: Auto Parameters
            zh_Hans: 自动参数
          llm_description: When set to true, Tavily automatically configures search
            parameters based on your query.
          max: null
          min: null
          name: auto_parameters
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include a list of query-related images in the response.
            ja_JP: Include a list of query-related images in the response.
            pt_BR: Include a list of query-related images in the response.
            zh_Hans: 在响应中包含与查询相关的图片列表。
          label:
            en_US: Include Images
            ja_JP: Include Images
            pt_BR: Include Images
            zh_Hans: 包含图片
          llm_description: When set to true, includes a list of query-related images
            in the response.
          max: null
          min: null
          name: include_images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: When include_images is True, adds descriptive text for each image.
            ja_JP: When include_images is True, adds descriptive text for each image.
            pt_BR: When include_images is True, adds descriptive text for each image.
            zh_Hans: 当 include_images 为 True 时，为每个图像添加描述文本。
          label:
            en_US: Include Image Descriptions
            ja_JP: Include Image Descriptions
            pt_BR: Include Image Descriptions
            zh_Hans: 包含图片描述
          llm_description: When include_images is True and this is set to true, adds
            descriptive text for each image.
          max: null
          min: null
          name: include_image_descriptions
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include favicon URL for each result.
            ja_JP: Include favicon URL for each result.
            pt_BR: Include favicon URL for each result.
            zh_Hans: 包含每个结果的favicon URL。
          label:
            en_US: Include Favicon
            ja_JP: Include Favicon
            pt_BR: Include Favicon
            zh_Hans: 包含Favicon
          llm_description: When set to true, includes the favicon URL for each result.
          max: null
          min: null
          name: include_favicon
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include a short answer to the original query in the response.
            ja_JP: Include a short answer to the original query in the response.
            pt_BR: Include a short answer to the original query in the response.
            zh_Hans: 在响应中包含对原始查询的简短回答。
          label:
            en_US: Include Answer
            ja_JP: Include Answer
            pt_BR: Include Answer
            zh_Hans: 包含答案
          llm_description: When set to true, includes a short answer to the original
            query in the response.
          max: null
          min: null
          name: include_answer
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include the cleaned and parsed HTML content of each search result.
            ja_JP: Include the cleaned and parsed HTML content of each search result.
            pt_BR: Include the cleaned and parsed HTML content of each search result.
            zh_Hans: 包含每个搜索结果的已清理和解析的HTML内容。
          label:
            en_US: Include Raw Content
            ja_JP: Include Raw Content
            pt_BR: Include Raw Content
            zh_Hans: 包含原始内容
          llm_description: When set to true, includes the cleaned and parsed HTML
            content of each search result.
          max: null
          min: null
          name: include_raw_content
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: 5
          form: form
          human_description:
            en_US: The maximum number of search results to return.
            ja_JP: The maximum number of search results to return.
            pt_BR: The maximum number of search results to return.
            zh_Hans: 要返回的最大搜索结果数。
          label:
            en_US: Max Results
            ja_JP: Max Results
            pt_BR: Max Results
            zh_Hans: 最大结果数
          llm_description: The maximum number of search results to return. Range is
            1-20.
          max: 20
          min: 1
          name: max_results
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 3
          form: form
          human_description:
            en_US: Maximum number of content chunks returned per source (advanced
              search only).
            ja_JP: Maximum number of content chunks returned per source (advanced
              search only).
            pt_BR: Maximum number of content chunks returned per source (advanced
              search only).
            zh_Hans: 每个来源返回的内容片段的最大数量（仅限高级搜索）。
          label:
            en_US: Chunks Per Source
            ja_JP: Chunks Per Source
            pt_BR: Chunks Per Source
            zh_Hans: 每来源片段数
          llm_description: Maximum number of relevant content chunks (1-3) returned
            per source. Valid only when search_depth is advanced.
          max: 3
          min: 1
          name: chunks_per_source
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: united states
          form: llm
          human_description:
            en_US: Boost search results from a specific country (topic must be general).
            ja_JP: Boost search results from a specific country (topic must be general).
            pt_BR: Boost search results from a specific country (topic must be general).
            zh_Hans: 从特定国家/地区提升搜索结果（主题必须是general）。
          label:
            en_US: Country
            ja_JP: Country
            pt_BR: Country
            zh_Hans: 国家
          llm_description: Select a country to boost its content in results (only
            when topic is general).
          max: null
          min: null
          name: country
          options:
          - icon: ''
            label:
              en_US: Afghanistan
              ja_JP: Afghanistan
              pt_BR: Afghanistan
              zh_Hans: 阿富汗
            value: afghanistan
          - icon: ''
            label:
              en_US: Albania
              ja_JP: Albania
              pt_BR: Albania
              zh_Hans: 阿尔巴尼亚
            value: albania
          - icon: ''
            label:
              en_US: Algeria
              ja_JP: Algeria
              pt_BR: Algeria
              zh_Hans: 阿尔及利亚
            value: algeria
          - icon: ''
            label:
              en_US: Andorra
              ja_JP: Andorra
              pt_BR: Andorra
              zh_Hans: 安道尔
            value: andorra
          - icon: ''
            label:
              en_US: Angola
              ja_JP: Angola
              pt_BR: Angola
              zh_Hans: 安哥拉
            value: angola
          - icon: ''
            label:
              en_US: Argentina
              ja_JP: Argentina
              pt_BR: Argentina
              zh_Hans: 阿根廷
            value: argentina
          - icon: ''
            label:
              en_US: Armenia
              ja_JP: Armenia
              pt_BR: Armenia
              zh_Hans: 亚美尼亚
            value: armenia
          - icon: ''
            label:
              en_US: Australia
              ja_JP: Australia
              pt_BR: Australia
              zh_Hans: 澳大利亚
            value: australia
          - icon: ''
            label:
              en_US: Austria
              ja_JP: Austria
              pt_BR: Austria
              zh_Hans: 奥地利
            value: austria
          - icon: ''
            label:
              en_US: Azerbaijan
              ja_JP: Azerbaijan
              pt_BR: Azerbaijan
              zh_Hans: 阿塞拜疆
            value: azerbaijan
          - icon: ''
            label:
              en_US: Bahamas
              ja_JP: Bahamas
              pt_BR: Bahamas
              zh_Hans: 巴哈马
            value: bahamas
          - icon: ''
            label:
              en_US: Bahrain
              ja_JP: Bahrain
              pt_BR: Bahrain
              zh_Hans: 巴林
            value: bahrain
          - icon: ''
            label:
              en_US: Bangladesh
              ja_JP: Bangladesh
              pt_BR: Bangladesh
              zh_Hans: 孟加拉国
            value: bangladesh
          - icon: ''
            label:
              en_US: Barbados
              ja_JP: Barbados
              pt_BR: Barbados
              zh_Hans: 巴巴多斯
            value: barbados
          - icon: ''
            label:
              en_US: Belarus
              ja_JP: Belarus
              pt_BR: Belarus
              zh_Hans: 白俄罗斯
            value: belarus
          - icon: ''
            label:
              en_US: Belgium
              ja_JP: Belgium
              pt_BR: Belgium
              zh_Hans: 比利时
            value: belgium
          - icon: ''
            label:
              en_US: Belize
              ja_JP: Belize
              pt_BR: Belize
              zh_Hans: 伯利兹
            value: belize
          - icon: ''
            label:
              en_US: Benin
              ja_JP: Benin
              pt_BR: Benin
              zh_Hans: 贝宁
            value: benin
          - icon: ''
            label:
              en_US: Bhutan
              ja_JP: Bhutan
              pt_BR: Bhutan
              zh_Hans: 不丹
            value: bhutan
          - icon: ''
            label:
              en_US: Bolivia
              ja_JP: Bolivia
              pt_BR: Bolivia
              zh_Hans: 玻利维亚
            value: bolivia
          - icon: ''
            label:
              en_US: Bosnia and Herzegovina
              ja_JP: Bosnia and Herzegovina
              pt_BR: Bosnia and Herzegovina
              zh_Hans: 波斯尼亚和黑塞哥维那
            value: bosnia and herzegovina
          - icon: ''
            label:
              en_US: Botswana
              ja_JP: Botswana
              pt_BR: Botswana
              zh_Hans: 博茨瓦纳
            value: botswana
          - icon: ''
            label:
              en_US: Brazil
              ja_JP: Brazil
              pt_BR: Brazil
              zh_Hans: 巴西
            value: brazil
          - icon: ''
            label:
              en_US: Brunei
              ja_JP: Brunei
              pt_BR: Brunei
              zh_Hans: 文莱
            value: brunei
          - icon: ''
            label:
              en_US: Bulgaria
              ja_JP: Bulgaria
              pt_BR: Bulgaria
              zh_Hans: 保加利亚
            value: bulgaria
          - icon: ''
            label:
              en_US: Burkina Faso
              ja_JP: Burkina Faso
              pt_BR: Burkina Faso
              zh_Hans: 布基纳法索
            value: burkina faso
          - icon: ''
            label:
              en_US: Burundi
              ja_JP: Burundi
              pt_BR: Burundi
              zh_Hans: 布隆迪
            value: burundi
          - icon: ''
            label:
              en_US: Cambodia
              ja_JP: Cambodia
              pt_BR: Cambodia
              zh_Hans: 柬埔寨
            value: cambodia
          - icon: ''
            label:
              en_US: Cameroon
              ja_JP: Cameroon
              pt_BR: Cameroon
              zh_Hans: 喀麦隆
            value: cameroon
          - icon: ''
            label:
              en_US: Canada
              ja_JP: Canada
              pt_BR: Canada
              zh_Hans: 加拿大
            value: canada
          - icon: ''
            label:
              en_US: Cape Verde
              ja_JP: Cape Verde
              pt_BR: Cape Verde
              zh_Hans: 佛得角
            value: cape verde
          - icon: ''
            label:
              en_US: Central African Republic
              ja_JP: Central African Republic
              pt_BR: Central African Republic
              zh_Hans: 中非共和国
            value: central african republic
          - icon: ''
            label:
              en_US: Chad
              ja_JP: Chad
              pt_BR: Chad
              zh_Hans: 乍得
            value: chad
          - icon: ''
            label:
              en_US: Chile
              ja_JP: Chile
              pt_BR: Chile
              zh_Hans: 智利
            value: chile
          - icon: ''
            label:
              en_US: China
              ja_JP: China
              pt_BR: China
              zh_Hans: 中国
            value: china
          - icon: ''
            label:
              en_US: Colombia
              ja_JP: Colombia
              pt_BR: Colombia
              zh_Hans: 哥伦比亚
            value: colombia
          - icon: ''
            label:
              en_US: Comoros
              ja_JP: Comoros
              pt_BR: Comoros
              zh_Hans: 科摩罗
            value: comoros
          - icon: ''
            label:
              en_US: Congo
              ja_JP: Congo
              pt_BR: Congo
              zh_Hans: 刚果
            value: congo
          - icon: ''
            label:
              en_US: Costa Rica
              ja_JP: Costa Rica
              pt_BR: Costa Rica
              zh_Hans: 哥斯达黎加
            value: costa rica
          - icon: ''
            label:
              en_US: Croatia
              ja_JP: Croatia
              pt_BR: Croatia
              zh_Hans: 克罗地亚
            value: croatia
          - icon: ''
            label:
              en_US: Cuba
              ja_JP: Cuba
              pt_BR: Cuba
              zh_Hans: 古巴
            value: cuba
          - icon: ''
            label:
              en_US: Cyprus
              ja_JP: Cyprus
              pt_BR: Cyprus
              zh_Hans: 塞浦路斯
            value: cyprus
          - icon: ''
            label:
              en_US: Czech Republic
              ja_JP: Czech Republic
              pt_BR: Czech Republic
              zh_Hans: 捷克共和国
            value: czech republic
          - icon: ''
            label:
              en_US: Denmark
              ja_JP: Denmark
              pt_BR: Denmark
              zh_Hans: 丹麦
            value: denmark
          - icon: ''
            label:
              en_US: Djibouti
              ja_JP: Djibouti
              pt_BR: Djibouti
              zh_Hans: 吉布提
            value: djibouti
          - icon: ''
            label:
              en_US: Dominican Republic
              ja_JP: Dominican Republic
              pt_BR: Dominican Republic
              zh_Hans: 多米尼加共和国
            value: dominican republic
          - icon: ''
            label:
              en_US: Ecuador
              ja_JP: Ecuador
              pt_BR: Ecuador
              zh_Hans: 厄瓜多尔
            value: ecuador
          - icon: ''
            label:
              en_US: Egypt
              ja_JP: Egypt
              pt_BR: Egypt
              zh_Hans: 埃及
            value: egypt
          - icon: ''
            label:
              en_US: El Salvador
              ja_JP: El Salvador
              pt_BR: El Salvador
              zh_Hans: 萨尔瓦多
            value: el salvador
          - icon: ''
            label:
              en_US: Equatorial Guinea
              ja_JP: Equatorial Guinea
              pt_BR: Equatorial Guinea
              zh_Hans: 赤道几内亚
            value: equatorial guinea
          - icon: ''
            label:
              en_US: Eritrea
              ja_JP: Eritrea
              pt_BR: Eritrea
              zh_Hans: 厄立特里亚
            value: eritrea
          - icon: ''
            label:
              en_US: Estonia
              ja_JP: Estonia
              pt_BR: Estonia
              zh_Hans: 爱沙尼亚
            value: estonia
          - icon: ''
            label:
              en_US: Ethiopia
              ja_JP: Ethiopia
              pt_BR: Ethiopia
              zh_Hans: 埃塞俄比亚
            value: ethiopia
          - icon: ''
            label:
              en_US: Fiji
              ja_JP: Fiji
              pt_BR: Fiji
              zh_Hans: 斐济
            value: fiji
          - icon: ''
            label:
              en_US: Finland
              ja_JP: Finland
              pt_BR: Finland
              zh_Hans: 芬兰
            value: finland
          - icon: ''
            label:
              en_US: France
              ja_JP: France
              pt_BR: France
              zh_Hans: 法国
            value: france
          - icon: ''
            label:
              en_US: Gabon
              ja_JP: Gabon
              pt_BR: Gabon
              zh_Hans: 加蓬
            value: gabon
          - icon: ''
            label:
              en_US: Gambia
              ja_JP: Gambia
              pt_BR: Gambia
              zh_Hans: 冈比亚
            value: gambia
          - icon: ''
            label:
              en_US: Georgia
              ja_JP: Georgia
              pt_BR: Georgia
              zh_Hans: 格鲁吉亚
            value: georgia
          - icon: ''
            label:
              en_US: Germany
              ja_JP: Germany
              pt_BR: Germany
              zh_Hans: 德国
            value: germany
          - icon: ''
            label:
              en_US: Ghana
              ja_JP: Ghana
              pt_BR: Ghana
              zh_Hans: 加纳
            value: ghana
          - icon: ''
            label:
              en_US: Greece
              ja_JP: Greece
              pt_BR: Greece
              zh_Hans: 希腊
            value: greece
          - icon: ''
            label:
              en_US: Guatemala
              ja_JP: Guatemala
              pt_BR: Guatemala
              zh_Hans: 危地马拉
            value: guatemala
          - icon: ''
            label:
              en_US: Guinea
              ja_JP: Guinea
              pt_BR: Guinea
              zh_Hans: 几内亚
            value: guinea
          - icon: ''
            label:
              en_US: Haiti
              ja_JP: Haiti
              pt_BR: Haiti
              zh_Hans: 海地
            value: haiti
          - icon: ''
            label:
              en_US: Honduras
              ja_JP: Honduras
              pt_BR: Honduras
              zh_Hans: 洪都拉斯
            value: honduras
          - icon: ''
            label:
              en_US: Hungary
              ja_JP: Hungary
              pt_BR: Hungary
              zh_Hans: 匈牙利
            value: hungary
          - icon: ''
            label:
              en_US: Iceland
              ja_JP: Iceland
              pt_BR: Iceland
              zh_Hans: 冰岛
            value: iceland
          - icon: ''
            label:
              en_US: India
              ja_JP: India
              pt_BR: India
              zh_Hans: 印度
            value: india
          - icon: ''
            label:
              en_US: Indonesia
              ja_JP: Indonesia
              pt_BR: Indonesia
              zh_Hans: 印度尼西亚
            value: indonesia
          - icon: ''
            label:
              en_US: Iran
              ja_JP: Iran
              pt_BR: Iran
              zh_Hans: 伊朗
            value: iran
          - icon: ''
            label:
              en_US: Iraq
              ja_JP: Iraq
              pt_BR: Iraq
              zh_Hans: 伊拉克
            value: iraq
          - icon: ''
            label:
              en_US: Ireland
              ja_JP: Ireland
              pt_BR: Ireland
              zh_Hans: 爱尔兰
            value: ireland
          - icon: ''
            label:
              en_US: Israel
              ja_JP: Israel
              pt_BR: Israel
              zh_Hans: 以色列
            value: israel
          - icon: ''
            label:
              en_US: Italy
              ja_JP: Italy
              pt_BR: Italy
              zh_Hans: 意大利
            value: italy
          - icon: ''
            label:
              en_US: Jamaica
              ja_JP: Jamaica
              pt_BR: Jamaica
              zh_Hans: 牙买加
            value: jamaica
          - icon: ''
            label:
              en_US: Japan
              ja_JP: Japan
              pt_BR: Japan
              zh_Hans: 日本
            value: japan
          - icon: ''
            label:
              en_US: Jordan
              ja_JP: Jordan
              pt_BR: Jordan
              zh_Hans: 约旦
            value: jordan
          - icon: ''
            label:
              en_US: Kazakhstan
              ja_JP: Kazakhstan
              pt_BR: Kazakhstan
              zh_Hans: 哈萨克斯坦
            value: kazakhstan
          - icon: ''
            label:
              en_US: Kenya
              ja_JP: Kenya
              pt_BR: Kenya
              zh_Hans: 肯尼亚
            value: kenya
          - icon: ''
            label:
              en_US: Kuwait
              ja_JP: Kuwait
              pt_BR: Kuwait
              zh_Hans: 科威特
            value: kuwait
          - icon: ''
            label:
              en_US: Kyrgyzstan
              ja_JP: Kyrgyzstan
              pt_BR: Kyrgyzstan
              zh_Hans: 吉尔吉斯斯坦
            value: kyrgyzstan
          - icon: ''
            label:
              en_US: Latvia
              ja_JP: Latvia
              pt_BR: Latvia
              zh_Hans: 拉脱维亚
            value: latvia
          - icon: ''
            label:
              en_US: Lebanon
              ja_JP: Lebanon
              pt_BR: Lebanon
              zh_Hans: 黎巴嫩
            value: lebanon
          - icon: ''
            label:
              en_US: Lesotho
              ja_JP: Lesotho
              pt_BR: Lesotho
              zh_Hans: 莱索托
            value: lesotho
          - icon: ''
            label:
              en_US: Liberia
              ja_JP: Liberia
              pt_BR: Liberia
              zh_Hans: 利比里亚
            value: liberia
          - icon: ''
            label:
              en_US: Libya
              ja_JP: Libya
              pt_BR: Libya
              zh_Hans: 利比亚
            value: libya
          - icon: ''
            label:
              en_US: Liechtenstein
              ja_JP: Liechtenstein
              pt_BR: Liechtenstein
              zh_Hans: 列支敦士登
            value: liechtenstein
          - icon: ''
            label:
              en_US: Lithuania
              ja_JP: Lithuania
              pt_BR: Lithuania
              zh_Hans: 立陶宛
            value: lithuania
          - icon: ''
            label:
              en_US: Luxembourg
              ja_JP: Luxembourg
              pt_BR: Luxembourg
              zh_Hans: 卢森堡
            value: luxembourg
          - icon: ''
            label:
              en_US: Madagascar
              ja_JP: Madagascar
              pt_BR: Madagascar
              zh_Hans: 马达加斯加
            value: madagascar
          - icon: ''
            label:
              en_US: Malawi
              ja_JP: Malawi
              pt_BR: Malawi
              zh_Hans: 马拉维
            value: malawi
          - icon: ''
            label:
              en_US: Malaysia
              ja_JP: Malaysia
              pt_BR: Malaysia
              zh_Hans: 马来西亚
            value: malaysia
          - icon: ''
            label:
              en_US: Maldives
              ja_JP: Maldives
              pt_BR: Maldives
              zh_Hans: 马尔代夫
            value: maldives
          - icon: ''
            label:
              en_US: Mali
              ja_JP: Mali
              pt_BR: Mali
              zh_Hans: 马里
            value: mali
          - icon: ''
            label:
              en_US: Malta
              ja_JP: Malta
              pt_BR: Malta
              zh_Hans: 马耳他
            value: malta
          - icon: ''
            label:
              en_US: Mauritania
              ja_JP: Mauritania
              pt_BR: Mauritania
              zh_Hans: 毛里塔尼亚
            value: mauritania
          - icon: ''
            label:
              en_US: Mauritius
              ja_JP: Mauritius
              pt_BR: Mauritius
              zh_Hans: 毛里求斯
            value: mauritius
          - icon: ''
            label:
              en_US: Mexico
              ja_JP: Mexico
              pt_BR: Mexico
              zh_Hans: 墨西哥
            value: mexico
          - icon: ''
            label:
              en_US: Moldova
              ja_JP: Moldova
              pt_BR: Moldova
              zh_Hans: 摩尔多瓦
            value: moldova
          - icon: ''
            label:
              en_US: Monaco
              ja_JP: Monaco
              pt_BR: Monaco
              zh_Hans: 摩纳哥
            value: monaco
          - icon: ''
            label:
              en_US: Mongolia
              ja_JP: Mongolia
              pt_BR: Mongolia
              zh_Hans: 蒙古
            value: mongolia
          - icon: ''
            label:
              en_US: Montenegro
              ja_JP: Montenegro
              pt_BR: Montenegro
              zh_Hans: 黑山
            value: montenegro
          - icon: ''
            label:
              en_US: Morocco
              ja_JP: Morocco
              pt_BR: Morocco
              zh_Hans: 摩洛哥
            value: morocco
          - icon: ''
            label:
              en_US: Mozambique
              ja_JP: Mozambique
              pt_BR: Mozambique
              zh_Hans: 莫桑比克
            value: mozambique
          - icon: ''
            label:
              en_US: Myanmar
              ja_JP: Myanmar
              pt_BR: Myanmar
              zh_Hans: 缅甸
            value: myanmar
          - icon: ''
            label:
              en_US: Namibia
              ja_JP: Namibia
              pt_BR: Namibia
              zh_Hans: 纳米比亚
            value: namibia
          - icon: ''
            label:
              en_US: Nepal
              ja_JP: Nepal
              pt_BR: Nepal
              zh_Hans: 尼泊尔
            value: nepal
          - icon: ''
            label:
              en_US: Netherlands
              ja_JP: Netherlands
              pt_BR: Netherlands
              zh_Hans: 荷兰
            value: netherlands
          - icon: ''
            label:
              en_US: New Zealand
              ja_JP: New Zealand
              pt_BR: New Zealand
              zh_Hans: 新西兰
            value: new zealand
          - icon: ''
            label:
              en_US: Nicaragua
              ja_JP: Nicaragua
              pt_BR: Nicaragua
              zh_Hans: 尼加拉瓜
            value: nicaragua
          - icon: ''
            label:
              en_US: Niger
              ja_JP: Niger
              pt_BR: Niger
              zh_Hans: 尼日尔
            value: niger
          - icon: ''
            label:
              en_US: Nigeria
              ja_JP: Nigeria
              pt_BR: Nigeria
              zh_Hans: 尼日利亚
            value: nigeria
          - icon: ''
            label:
              en_US: North Korea
              ja_JP: North Korea
              pt_BR: North Korea
              zh_Hans: 朝鲜
            value: north korea
          - icon: ''
            label:
              en_US: North Macedonia
              ja_JP: North Macedonia
              pt_BR: North Macedonia
              zh_Hans: 北马其顿
            value: north macedonia
          - icon: ''
            label:
              en_US: Norway
              ja_JP: Norway
              pt_BR: Norway
              zh_Hans: 挪威
            value: norway
          - icon: ''
            label:
              en_US: Oman
              ja_JP: Oman
              pt_BR: Oman
              zh_Hans: 阿曼
            value: oman
          - icon: ''
            label:
              en_US: Pakistan
              ja_JP: Pakistan
              pt_BR: Pakistan
              zh_Hans: 巴基斯坦
            value: pakistan
          - icon: ''
            label:
              en_US: Panama
              ja_JP: Panama
              pt_BR: Panama
              zh_Hans: 巴拿马
            value: panama
          - icon: ''
            label:
              en_US: Papua New Guinea
              ja_JP: Papua New Guinea
              pt_BR: Papua New Guinea
              zh_Hans: 巴布亚新几内亚
            value: papua new guinea
          - icon: ''
            label:
              en_US: Paraguay
              ja_JP: Paraguay
              pt_BR: Paraguay
              zh_Hans: 巴拉圭
            value: paraguay
          - icon: ''
            label:
              en_US: Peru
              ja_JP: Peru
              pt_BR: Peru
              zh_Hans: 秘鲁
            value: peru
          - icon: ''
            label:
              en_US: Philippines
              ja_JP: Philippines
              pt_BR: Philippines
              zh_Hans: 菲律宾
            value: philippines
          - icon: ''
            label:
              en_US: Poland
              ja_JP: Poland
              pt_BR: Poland
              zh_Hans: 波兰
            value: poland
          - icon: ''
            label:
              en_US: Portugal
              ja_JP: Portugal
              pt_BR: Portugal
              zh_Hans: 葡萄牙
            value: portugal
          - icon: ''
            label:
              en_US: Qatar
              ja_JP: Qatar
              pt_BR: Qatar
              zh_Hans: 卡塔尔
            value: qatar
          - icon: ''
            label:
              en_US: Romania
              ja_JP: Romania
              pt_BR: Romania
              zh_Hans: 罗马尼亚
            value: romania
          - icon: ''
            label:
              en_US: Russia
              ja_JP: Russia
              pt_BR: Russia
              zh_Hans: 俄罗斯
            value: russia
          - icon: ''
            label:
              en_US: Rwanda
              ja_JP: Rwanda
              pt_BR: Rwanda
              zh_Hans: 卢旺达
            value: rwanda
          - icon: ''
            label:
              en_US: Saudi Arabia
              ja_JP: Saudi Arabia
              pt_BR: Saudi Arabia
              zh_Hans: 沙特阿拉伯
            value: saudi arabia
          - icon: ''
            label:
              en_US: Senegal
              ja_JP: Senegal
              pt_BR: Senegal
              zh_Hans: 塞内加尔
            value: senegal
          - icon: ''
            label:
              en_US: Serbia
              ja_JP: Serbia
              pt_BR: Serbia
              zh_Hans: 塞尔维亚
            value: serbia
          - icon: ''
            label:
              en_US: Singapore
              ja_JP: Singapore
              pt_BR: Singapore
              zh_Hans: 新加坡
            value: singapore
          - icon: ''
            label:
              en_US: Slovakia
              ja_JP: Slovakia
              pt_BR: Slovakia
              zh_Hans: 斯洛伐克
            value: slovakia
          - icon: ''
            label:
              en_US: Slovenia
              ja_JP: Slovenia
              pt_BR: Slovenia
              zh_Hans: 斯洛文尼亚
            value: slovenia
          - icon: ''
            label:
              en_US: Somalia
              ja_JP: Somalia
              pt_BR: Somalia
              zh_Hans: 索马里
            value: somalia
          - icon: ''
            label:
              en_US: South Africa
              ja_JP: South Africa
              pt_BR: South Africa
              zh_Hans: 南非
            value: south africa
          - icon: ''
            label:
              en_US: South Korea
              ja_JP: South Korea
              pt_BR: South Korea
              zh_Hans: 韩国
            value: south korea
          - icon: ''
            label:
              en_US: South Sudan
              ja_JP: South Sudan
              pt_BR: South Sudan
              zh_Hans: 南苏丹
            value: south sudan
          - icon: ''
            label:
              en_US: Spain
              ja_JP: Spain
              pt_BR: Spain
              zh_Hans: 西班牙
            value: spain
          - icon: ''
            label:
              en_US: Sri Lanka
              ja_JP: Sri Lanka
              pt_BR: Sri Lanka
              zh_Hans: 斯里兰卡
            value: sri lanka
          - icon: ''
            label:
              en_US: Sudan
              ja_JP: Sudan
              pt_BR: Sudan
              zh_Hans: 苏丹
            value: sudan
          - icon: ''
            label:
              en_US: Sweden
              ja_JP: Sweden
              pt_BR: Sweden
              zh_Hans: 瑞典
            value: sweden
          - icon: ''
            label:
              en_US: Switzerland
              ja_JP: Switzerland
              pt_BR: Switzerland
              zh_Hans: 瑞士
            value: switzerland
          - icon: ''
            label:
              en_US: Syria
              ja_JP: Syria
              pt_BR: Syria
              zh_Hans: 叙利亚
            value: syria
          - icon: ''
            label:
              en_US: Taiwan
              ja_JP: Taiwan
              pt_BR: Taiwan
              zh_Hans: 台湾
            value: taiwan
          - icon: ''
            label:
              en_US: Tajikistan
              ja_JP: Tajikistan
              pt_BR: Tajikistan
              zh_Hans: 塔吉克斯坦
            value: tajikistan
          - icon: ''
            label:
              en_US: Tanzania
              ja_JP: Tanzania
              pt_BR: Tanzania
              zh_Hans: 坦桑尼亚
            value: tanzania
          - icon: ''
            label:
              en_US: Thailand
              ja_JP: Thailand
              pt_BR: Thailand
              zh_Hans: 泰国
            value: thailand
          - icon: ''
            label:
              en_US: Togo
              ja_JP: Togo
              pt_BR: Togo
              zh_Hans: 多哥
            value: togo
          - icon: ''
            label:
              en_US: Trinidad and Tobago
              ja_JP: Trinidad and Tobago
              pt_BR: Trinidad and Tobago
              zh_Hans: 特立尼达和多巴哥
            value: trinidad and tobago
          - icon: ''
            label:
              en_US: Tunisia
              ja_JP: Tunisia
              pt_BR: Tunisia
              zh_Hans: 突尼斯
            value: tunisia
          - icon: ''
            label:
              en_US: Turkey
              ja_JP: Turkey
              pt_BR: Turkey
              zh_Hans: 土耳其
            value: turkey
          - icon: ''
            label:
              en_US: Turkmenistan
              ja_JP: Turkmenistan
              pt_BR: Turkmenistan
              zh_Hans: 土库曼斯坦
            value: turkmenistan
          - icon: ''
            label:
              en_US: Uganda
              ja_JP: Uganda
              pt_BR: Uganda
              zh_Hans: 乌干达
            value: uganda
          - icon: ''
            label:
              en_US: Ukraine
              ja_JP: Ukraine
              pt_BR: Ukraine
              zh_Hans: 乌克兰
            value: ukraine
          - icon: ''
            label:
              en_US: United Arab Emirates
              ja_JP: United Arab Emirates
              pt_BR: United Arab Emirates
              zh_Hans: 阿拉伯联合酋长国
            value: united arab emirates
          - icon: ''
            label:
              en_US: United Kingdom
              ja_JP: United Kingdom
              pt_BR: United Kingdom
              zh_Hans: 英国
            value: united kingdom
          - icon: ''
            label:
              en_US: United States
              ja_JP: United States
              pt_BR: United States
              zh_Hans: 美国
            value: united states
          - icon: ''
            label:
              en_US: Uruguay
              ja_JP: Uruguay
              pt_BR: Uruguay
              zh_Hans: 乌拉圭
            value: uruguay
          - icon: ''
            label:
              en_US: Uzbekistan
              ja_JP: Uzbekistan
              pt_BR: Uzbekistan
              zh_Hans: 乌兹别克斯坦
            value: uzbekistan
          - icon: ''
            label:
              en_US: Venezuela
              ja_JP: Venezuela
              pt_BR: Venezuela
              zh_Hans: 委内瑞拉
            value: venezuela
          - icon: ''
            label:
              en_US: Vietnam
              ja_JP: Vietnam
              pt_BR: Vietnam
              zh_Hans: 越南
            value: vietnam
          - icon: ''
            label:
              en_US: Yemen
              ja_JP: Yemen
              pt_BR: Yemen
              zh_Hans: 也门
            value: yemen
          - icon: ''
            label:
              en_US: Zambia
              ja_JP: Zambia
              pt_BR: Zambia
              zh_Hans: 赞比亚
            value: zambia
          - icon: ''
            label:
              en_US: Zimbabwe
              ja_JP: Zimbabwe
              pt_BR: Zimbabwe
              zh_Hans: 津巴布韦
            value: zimbabwe
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: A comma-separated list of domains to specifically include in the
              search results.
            ja_JP: A comma-separated list of domains to specifically include in the
              search results.
            pt_BR: A comma-separated list of domains to specifically include in the
              search results.
            zh_Hans: 要在搜索结果中特别包含的域的逗号分隔列表。
          label:
            en_US: Include Domains
            ja_JP: Include Domains
            pt_BR: Include Domains
            zh_Hans: 包含域
          llm_description: A comma-separated list of domains to specifically include
            in the search results.
          max: null
          min: null
          name: include_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: A comma-separated list of domains to specifically exclude from
              the search results.
            ja_JP: A comma-separated list of domains to specifically exclude from
              the search results.
            pt_BR: A comma-separated list of domains to specifically exclude from
              the search results.
            zh_Hans: 要从搜索结果中特别排除的域的逗号分隔列表。
          label:
            en_US: Exclude Domains
            ja_JP: Exclude Domains
            pt_BR: Exclude Domains
            zh_Hans: 排除域
          llm_description: A comma-separated list of domains to specifically exclude
            from the search results.
          max: null
          min: null
          name: exclude_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          auto_parameters: ''
          chunks_per_source: ''
          country: ''
          days: ''
          exclude_domains: ''
          include_answer: ''
          include_domains: ''
          include_favicon: ''
          include_image_descriptions: ''
          include_images: ''
          include_raw_content: ''
          max_results: ''
          query: ''
          search_depth: ''
          time_range: ''
          topic: ''
        plugin_id: langgenius/tavily
        plugin_unique_identifier: langgenius/tavily:0.1.4@63760777d2aed19b308ee4518125bccea491dfa518609802edb6a3a31272c665
        provider_id: langgenius/tavily/tavily
        provider_name: langgenius/tavily/tavily
        provider_type: builtin
        selected: false
        title: Tavily Search
        tool_configurations:
          auto_parameters:
            type: constant
            value: false
          chunks_per_source:
            type: constant
            value: 3
          include_answer:
            type: constant
            value: false
          include_favicon:
            type: constant
            value: false
          include_image_descriptions:
            type: constant
            value: false
          include_images:
            type: constant
            value: false
          include_raw_content:
            type: constant
            value: false
          max_results:
            type: constant
            value: 5
        tool_description: A search engine tool built specifically for AI agents (LLMs),
          delivering real-time, accurate, and factual results at speed.
        tool_label: Tavily Search
        tool_name: tavily_search
        tool_node_version: '2'
        tool_parameters:
          country:
            type: constant
            value: united states
          days:
            type: constant
            value: 7
          exclude_domains:
            type: mixed
            value: null
          include_domains:
            type: mixed
            value: null
          query:
            type: mixed
            value: '{{#4008.item#}}'
          search_depth:
            type: constant
            value: advanced
          time_range:
            type: constant
            value: not_specified
          topic:
            type: constant
            value: general
        type: tool
      height: 269
      id: '4009'
      parentId: '4008'
      position:
        x: 150
        y: 50
      positionAbsolute:
        x: 2250
        y: 100
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import time\ndef main(input_data: str) -> dict:\n    time.sleep(1)\n    return {\"result\": input_data}"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '4008'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: "結果整形+待機"
        type: code
        variables:
        - value_selector:
          - '4009'
          - text
          value_type: string
          variable: input_data
      height: 52
      id: '4010'
      parentId: '4008'
      position:
        x: 580
        y: 140
      positionAbsolute:
        x: 2680
        y: 190
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        output_type: array[string]
        selected: false
        title: "検索結果集約"
        type: variable-aggregator
        variables:
        - - '4008'
          - output
      height: 108
      id: '4011'
      position:
        x: 3050
        y: 150
      positionAbsolute:
        x: 3050
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        headers: 'Accept:application/vnd.github+json

          User-Agent:DifyWorkflow'
        method: get
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 0
        title: "GitHub急伸リポジトリ検索"
        type: http-request
        url: 'https://api.github.com/search/repositories?q=topic:ai+topic:llm+created:>{{#4002.start_date_iso#}}&sort=stars&order=desc&per_page=10'
        variables: []
      height: 157
      id: '4030'
      position:
        x: 1750
        y: 550
      positionAbsolute:
        x: 1750
        y: 550
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(query_suffix: str) -> dict:\n    q = f'(\"API reference\" OR \"docs site\" OR waitlist OR \"early access\" OR \"beta signup\" OR \"pricing page\") (AI OR LLM OR \"developer tool\" OR agent) {query_suffix}'\n    return {\"weak_query\": q}"
        code_language: python3
        outputs:
          weak_query:
            children: null
            type: string
        selected: false
        title: "弱シグナルクエリ生成"
        type: code
        variables:
        - value_selector:
          - '4002'
          - query_suffix
          value_type: string
          variable: query_suffix
      height: 52
      id: '4031'
      position:
        x: 2100
        y: 550
      positionAbsolute:
        x: 2100
        y: 550
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        isInIteration: false
        isInLoop: false
        is_team_authorization: false
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The search query you want to execute with Tavily.
            ja_JP: The search query you want to execute with Tavily.
            pt_BR: The search query you want to execute with Tavily.
            zh_Hans: 您想用 Tavily 执行的搜索查询。
          label:
            en_US: Query
            ja_JP: Query
            pt_BR: Query
            zh_Hans: 查询
          llm_description: The search query.
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: basic
          form: llm
          human_description:
            en_US: The depth of the search.
            ja_JP: The depth of the search.
            pt_BR: The depth of the search.
            zh_Hans: 搜索的深度。
          label:
            en_US: Search Depth
            ja_JP: Search Depth
            pt_BR: Search Depth
            zh_Hans: 搜索深度
          llm_description: The depth of the search. 'basic' for standard search, 'advanced'
            for more comprehensive results.
          max: null
          min: null
          name: search_depth
          options:
          - icon: ''
            label:
              en_US: Basic
              ja_JP: Basic
              pt_BR: Basic
              zh_Hans: 基本
            value: basic
          - icon: ''
            label:
              en_US: Advanced
              ja_JP: Advanced
              pt_BR: Advanced
              zh_Hans: 高级
            value: advanced
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: general
          form: llm
          human_description:
            en_US: The category of the search.
            ja_JP: The category of the search.
            pt_BR: The category of the search.
            zh_Hans: 搜索的类别。
          label:
            en_US: Topic
            ja_JP: Topic
            pt_BR: Topic
            zh_Hans: 主题
          llm_description: The category of the search. Options include 'general',
            'news', or 'finance'.
          max: null
          min: null
          name: topic
          options:
          - icon: ''
            label:
              en_US: General
              ja_JP: General
              pt_BR: General
              zh_Hans: 一般
            value: general
          - icon: ''
            label:
              en_US: News
              ja_JP: News
              pt_BR: News
              zh_Hans: 新闻
            value: news
          - icon: ''
            label:
              en_US: Finance
              ja_JP: Finance
              pt_BR: Finance
              zh_Hans: 金融
            value: finance
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 7
          form: llm
          human_description:
            en_US: The number of days back from the current date to include in the
              search results (only applicable when "topic" is "news").
            ja_JP: The number of days back from the current date to include in the
              search results (only applicable when "topic" is "news").
            pt_BR: The number of days back from the current date to include in the
              search results (only applicable when "topic" is "news").
            zh_Hans: 从当前日期起向前追溯的天数，以包含在搜索结果中（仅当"topic"为"news"时适用）。
          label:
            en_US: Days
            ja_JP: Days
            pt_BR: Days
            zh_Hans: 天数
          llm_description: The number of days back from the current date to include
            in the search results. Only applicable when "topic" is "news".
          max: null
          min: 1
          name: days
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: not_specified
          form: llm
          human_description:
            en_US: The time range back from the current date to filter results.
            ja_JP: The time range back from the current date to filter results.
            pt_BR: The time range back from the current date to filter results.
            zh_Hans: 从当前日期起向后筛选结果的时间范围。
          label:
            en_US: Time Range
            ja_JP: Time Range
            pt_BR: Time Range
            zh_Hans: 时间范围
          llm_description: The time range back from the current date to filter results.
            Options include 'not_specified', 'day', 'week', 'month', or 'year'.
          max: null
          min: null
          name: time_range
          options:
          - icon: ''
            label:
              en_US: Not Specified
              ja_JP: Not Specified
              pt_BR: Not Specified
              zh_Hans: 不指定
            value: not_specified
          - icon: ''
            label:
              en_US: Day
              ja_JP: Day
              pt_BR: Day
              zh_Hans: 天
            value: day
          - icon: ''
            label:
              en_US: Week
              ja_JP: Week
              pt_BR: Week
              zh_Hans: 周
            value: week
          - icon: ''
            label:
              en_US: Month
              ja_JP: Month
              pt_BR: Month
              zh_Hans: 月
            value: month
          - icon: ''
            label:
              en_US: Year
              ja_JP: Year
              pt_BR: Year
              zh_Hans: 年
            value: year
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Automatically configure search parameters based on query content
              and intent.
            ja_JP: Automatically configure search parameters based on query content
              and intent.
            pt_BR: Automatically configure search parameters based on query content
              and intent.
            zh_Hans: 根据查询内容和意图自动配置搜索参数。
          label:
            en_US: Auto Parameters
            ja_JP: Auto Parameters
            pt_BR: Auto Parameters
            zh_Hans: 自动参数
          llm_description: When set to true, Tavily automatically configures search
            parameters based on your query.
          max: null
          min: null
          name: auto_parameters
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include a list of query-related images in the response.
            ja_JP: Include a list of query-related images in the response.
            pt_BR: Include a list of query-related images in the response.
            zh_Hans: 在响应中包含与查询相关的图片列表。
          label:
            en_US: Include Images
            ja_JP: Include Images
            pt_BR: Include Images
            zh_Hans: 包含图片
          llm_description: When set to true, includes a list of query-related images
            in the response.
          max: null
          min: null
          name: include_images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: When include_images is True, adds descriptive text for each image.
            ja_JP: When include_images is True, adds descriptive text for each image.
            pt_BR: When include_images is True, adds descriptive text for each image.
            zh_Hans: 当 include_images 为 True 时，为每个图像添加描述文本。
          label:
            en_US: Include Image Descriptions
            ja_JP: Include Image Descriptions
            pt_BR: Include Image Descriptions
            zh_Hans: 包含图片描述
          llm_description: When include_images is True and this is set to true, adds
            descriptive text for each image.
          max: null
          min: null
          name: include_image_descriptions
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include favicon URL for each result.
            ja_JP: Include favicon URL for each result.
            pt_BR: Include favicon URL for each result.
            zh_Hans: 包含每个结果的favicon URL。
          label:
            en_US: Include Favicon
            ja_JP: Include Favicon
            pt_BR: Include Favicon
            zh_Hans: 包含Favicon
          llm_description: When set to true, includes the favicon URL for each result.
          max: null
          min: null
          name: include_favicon
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include a short answer to the original query in the response.
            ja_JP: Include a short answer to the original query in the response.
            pt_BR: Include a short answer to the original query in the response.
            zh_Hans: 在响应中包含对原始查询的简短回答。
          label:
            en_US: Include Answer
            ja_JP: Include Answer
            pt_BR: Include Answer
            zh_Hans: 包含答案
          llm_description: When set to true, includes a short answer to the original
            query in the response.
          max: null
          min: null
          name: include_answer
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Include the cleaned and parsed HTML content of each search result.
            ja_JP: Include the cleaned and parsed HTML content of each search result.
            pt_BR: Include the cleaned and parsed HTML content of each search result.
            zh_Hans: 包含每个搜索结果的已清理和解析的HTML内容。
          label:
            en_US: Include Raw Content
            ja_JP: Include Raw Content
            pt_BR: Include Raw Content
            zh_Hans: 包含原始内容
          llm_description: When set to true, includes the cleaned and parsed HTML
            content of each search result.
          max: null
          min: null
          name: include_raw_content
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: 5
          form: form
          human_description:
            en_US: The maximum number of search results to return.
            ja_JP: The maximum number of search results to return.
            pt_BR: The maximum number of search results to return.
            zh_Hans: 要返回的最大搜索结果数。
          label:
            en_US: Max Results
            ja_JP: Max Results
            pt_BR: Max Results
            zh_Hans: 最大结果数
          llm_description: The maximum number of search results to return. Range is
            1-20.
          max: 20
          min: 1
          name: max_results
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 3
          form: form
          human_description:
            en_US: Maximum number of content chunks returned per source (advanced
              search only).
            ja_JP: Maximum number of content chunks returned per source (advanced
              search only).
            pt_BR: Maximum number of content chunks returned per source (advanced
              search only).
            zh_Hans: 每个来源返回的内容片段的最大数量（仅限高级搜索）。
          label:
            en_US: Chunks Per Source
            ja_JP: Chunks Per Source
            pt_BR: Chunks Per Source
            zh_Hans: 每来源片段数
          llm_description: Maximum number of relevant content chunks (1-3) returned
            per source. Valid only when search_depth is advanced.
          max: 3
          min: 1
          name: chunks_per_source
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: united states
          form: llm
          human_description:
            en_US: Boost search results from a specific country (topic must be general).
            ja_JP: Boost search results from a specific country (topic must be general).
            pt_BR: Boost search results from a specific country (topic must be general).
            zh_Hans: 从特定国家/地区提升搜索结果（主题必须是general）。
          label:
            en_US: Country
            ja_JP: Country
            pt_BR: Country
            zh_Hans: 国家
          llm_description: Select a country to boost its content in results (only
            when topic is general).
          max: null
          min: null
          name: country
          options:
          - icon: ''
            label:
              en_US: Afghanistan
              ja_JP: Afghanistan
              pt_BR: Afghanistan
              zh_Hans: 阿富汗
            value: afghanistan
          - icon: ''
            label:
              en_US: Albania
              ja_JP: Albania
              pt_BR: Albania
              zh_Hans: 阿尔巴尼亚
            value: albania
          - icon: ''
            label:
              en_US: Algeria
              ja_JP: Algeria
              pt_BR: Algeria
              zh_Hans: 阿尔及利亚
            value: algeria
          - icon: ''
            label:
              en_US: Andorra
              ja_JP: Andorra
              pt_BR: Andorra
              zh_Hans: 安道尔
            value: andorra
          - icon: ''
            label:
              en_US: Angola
              ja_JP: Angola
              pt_BR: Angola
              zh_Hans: 安哥拉
            value: angola
          - icon: ''
            label:
              en_US: Argentina
              ja_JP: Argentina
              pt_BR: Argentina
              zh_Hans: 阿根廷
            value: argentina
          - icon: ''
            label:
              en_US: Armenia
              ja_JP: Armenia
              pt_BR: Armenia
              zh_Hans: 亚美尼亚
            value: armenia
          - icon: ''
            label:
              en_US: Australia
              ja_JP: Australia
              pt_BR: Australia
              zh_Hans: 澳大利亚
            value: australia
          - icon: ''
            label:
              en_US: Austria
              ja_JP: Austria
              pt_BR: Austria
              zh_Hans: 奥地利
            value: austria
          - icon: ''
            label:
              en_US: Azerbaijan
              ja_JP: Azerbaijan
              pt_BR: Azerbaijan
              zh_Hans: 阿塞拜疆
            value: azerbaijan
          - icon: ''
            label:
              en_US: Bahamas
              ja_JP: Bahamas
              pt_BR: Bahamas
              zh_Hans: 巴哈马
            value: bahamas
          - icon: ''
            label:
              en_US: Bahrain
              ja_JP: Bahrain
              pt_BR: Bahrain
              zh_Hans: 巴林
            value: bahrain
          - icon: ''
            label:
              en_US: Bangladesh
              ja_JP: Bangladesh
              pt_BR: Bangladesh
              zh_Hans: 孟加拉国
            value: bangladesh
          - icon: ''
            label:
              en_US: Barbados
              ja_JP: Barbados
              pt_BR: Barbados
              zh_Hans: 巴巴多斯
            value: barbados
          - icon: ''
            label:
              en_US: Belarus
              ja_JP: Belarus
              pt_BR: Belarus
              zh_Hans: 白俄罗斯
            value: belarus
          - icon: ''
            label:
              en_US: Belgium
              ja_JP: Belgium
              pt_BR: Belgium
              zh_Hans: 比利时
            value: belgium
          - icon: ''
            label:
              en_US: Belize
              ja_JP: Belize
              pt_BR: Belize
              zh_Hans: 伯利兹
            value: belize
          - icon: ''
            label:
              en_US: Benin
              ja_JP: Benin
              pt_BR: Benin
              zh_Hans: 贝宁
            value: benin
          - icon: ''
            label:
              en_US: Bhutan
              ja_JP: Bhutan
              pt_BR: Bhutan
              zh_Hans: 不丹
            value: bhutan
          - icon: ''
            label:
              en_US: Bolivia
              ja_JP: Bolivia
              pt_BR: Bolivia
              zh_Hans: 玻利维亚
            value: bolivia
          - icon: ''
            label:
              en_US: Bosnia and Herzegovina
              ja_JP: Bosnia and Herzegovina
              pt_BR: Bosnia and Herzegovina
              zh_Hans: 波斯尼亚和黑塞哥维那
            value: bosnia and herzegovina
          - icon: ''
            label:
              en_US: Botswana
              ja_JP: Botswana
              pt_BR: Botswana
              zh_Hans: 博茨瓦纳
            value: botswana
          - icon: ''
            label:
              en_US: Brazil
              ja_JP: Brazil
              pt_BR: Brazil
              zh_Hans: 巴西
            value: brazil
          - icon: ''
            label:
              en_US: Brunei
              ja_JP: Brunei
              pt_BR: Brunei
              zh_Hans: 文莱
            value: brunei
          - icon: ''
            label:
              en_US: Bulgaria
              ja_JP: Bulgaria
              pt_BR: Bulgaria
              zh_Hans: 保加利亚
            value: bulgaria
          - icon: ''
            label:
              en_US: Burkina Faso
              ja_JP: Burkina Faso
              pt_BR: Burkina Faso
              zh_Hans: 布基纳法索
            value: burkina faso
          - icon: ''
            label:
              en_US: Burundi
              ja_JP: Burundi
              pt_BR: Burundi
              zh_Hans: 布隆迪
            value: burundi
          - icon: ''
            label:
              en_US: Cambodia
              ja_JP: Cambodia
              pt_BR: Cambodia
              zh_Hans: 柬埔寨
            value: cambodia
          - icon: ''
            label:
              en_US: Cameroon
              ja_JP: Cameroon
              pt_BR: Cameroon
              zh_Hans: 喀麦隆
            value: cameroon
          - icon: ''
            label:
              en_US: Canada
              ja_JP: Canada
              pt_BR: Canada
              zh_Hans: 加拿大
            value: canada
          - icon: ''
            label:
              en_US: Cape Verde
              ja_JP: Cape Verde
              pt_BR: Cape Verde
              zh_Hans: 佛得角
            value: cape verde
          - icon: ''
            label:
              en_US: Central African Republic
              ja_JP: Central African Republic
              pt_BR: Central African Republic
              zh_Hans: 中非共和国
            value: central african republic
          - icon: ''
            label:
              en_US: Chad
              ja_JP: Chad
              pt_BR: Chad
              zh_Hans: 乍得
            value: chad
          - icon: ''
            label:
              en_US: Chile
              ja_JP: Chile
              pt_BR: Chile
              zh_Hans: 智利
            value: chile
          - icon: ''
            label:
              en_US: China
              ja_JP: China
              pt_BR: China
              zh_Hans: 中国
            value: china
          - icon: ''
            label:
              en_US: Colombia
              ja_JP: Colombia
              pt_BR: Colombia
              zh_Hans: 哥伦比亚
            value: colombia
          - icon: ''
            label:
              en_US: Comoros
              ja_JP: Comoros
              pt_BR: Comoros
              zh_Hans: 科摩罗
            value: comoros
          - icon: ''
            label:
              en_US: Congo
              ja_JP: Congo
              pt_BR: Congo
              zh_Hans: 刚果
            value: congo
          - icon: ''
            label:
              en_US: Costa Rica
              ja_JP: Costa Rica
              pt_BR: Costa Rica
              zh_Hans: 哥斯达黎加
            value: costa rica
          - icon: ''
            label:
              en_US: Croatia
              ja_JP: Croatia
              pt_BR: Croatia
              zh_Hans: 克罗地亚
            value: croatia
          - icon: ''
            label:
              en_US: Cuba
              ja_JP: Cuba
              pt_BR: Cuba
              zh_Hans: 古巴
            value: cuba
          - icon: ''
            label:
              en_US: Cyprus
              ja_JP: Cyprus
              pt_BR: Cyprus
              zh_Hans: 塞浦路斯
            value: cyprus
          - icon: ''
            label:
              en_US: Czech Republic
              ja_JP: Czech Republic
              pt_BR: Czech Republic
              zh_Hans: 捷克共和国
            value: czech republic
          - icon: ''
            label:
              en_US: Denmark
              ja_JP: Denmark
              pt_BR: Denmark
              zh_Hans: 丹麦
            value: denmark
          - icon: ''
            label:
              en_US: Djibouti
              ja_JP: Djibouti
              pt_BR: Djibouti
              zh_Hans: 吉布提
            value: djibouti
          - icon: ''
            label:
              en_US: Dominican Republic
              ja_JP: Dominican Republic
              pt_BR: Dominican Republic
              zh_Hans: 多米尼加共和国
            value: dominican republic
          - icon: ''
            label:
              en_US: Ecuador
              ja_JP: Ecuador
              pt_BR: Ecuador
              zh_Hans: 厄瓜多尔
            value: ecuador
          - icon: ''
            label:
              en_US: Egypt
              ja_JP: Egypt
              pt_BR: Egypt
              zh_Hans: 埃及
            value: egypt
          - icon: ''
            label:
              en_US: El Salvador
              ja_JP: El Salvador
              pt_BR: El Salvador
              zh_Hans: 萨尔瓦多
            value: el salvador
          - icon: ''
            label:
              en_US: Equatorial Guinea
              ja_JP: Equatorial Guinea
              pt_BR: Equatorial Guinea
              zh_Hans: 赤道几内亚
            value: equatorial guinea
          - icon: ''
            label:
              en_US: Eritrea
              ja_JP: Eritrea
              pt_BR: Eritrea
              zh_Hans: 厄立特里亚
            value: eritrea
          - icon: ''
            label:
              en_US: Estonia
              ja_JP: Estonia
              pt_BR: Estonia
              zh_Hans: 爱沙尼亚
            value: estonia
          - icon: ''
            label:
              en_US: Ethiopia
              ja_JP: Ethiopia
              pt_BR: Ethiopia
              zh_Hans: 埃塞俄比亚
            value: ethiopia
          - icon: ''
            label:
              en_US: Fiji
              ja_JP: Fiji
              pt_BR: Fiji
              zh_Hans: 斐济
            value: fiji
          - icon: ''
            label:
              en_US: Finland
              ja_JP: Finland
              pt_BR: Finland
              zh_Hans: 芬兰
            value: finland
          - icon: ''
            label:
              en_US: France
              ja_JP: France
              pt_BR: France
              zh_Hans: 法国
            value: france
          - icon: ''
            label:
              en_US: Gabon
              ja_JP: Gabon
              pt_BR: Gabon
              zh_Hans: 加蓬
            value: gabon
          - icon: ''
            label:
              en_US: Gambia
              ja_JP: Gambia
              pt_BR: Gambia
              zh_Hans: 冈比亚
            value: gambia
          - icon: ''
            label:
              en_US: Georgia
              ja_JP: Georgia
              pt_BR: Georgia
              zh_Hans: 格鲁吉亚
            value: georgia
          - icon: ''
            label:
              en_US: Germany
              ja_JP: Germany
              pt_BR: Germany
              zh_Hans: 德国
            value: germany
          - icon: ''
            label:
              en_US: Ghana
              ja_JP: Ghana
              pt_BR: Ghana
              zh_Hans: 加纳
            value: ghana
          - icon: ''
            label:
              en_US: Greece
              ja_JP: Greece
              pt_BR: Greece
              zh_Hans: 希腊
            value: greece
          - icon: ''
            label:
              en_US: Guatemala
              ja_JP: Guatemala
              pt_BR: Guatemala
              zh_Hans: 危地马拉
            value: guatemala
          - icon: ''
            label:
              en_US: Guinea
              ja_JP: Guinea
              pt_BR: Guinea
              zh_Hans: 几内亚
            value: guinea
          - icon: ''
            label:
              en_US: Haiti
              ja_JP: Haiti
              pt_BR: Haiti
              zh_Hans: 海地
            value: haiti
          - icon: ''
            label:
              en_US: Honduras
              ja_JP: Honduras
              pt_BR: Honduras
              zh_Hans: 洪都拉斯
            value: honduras
          - icon: ''
            label:
              en_US: Hungary
              ja_JP: Hungary
              pt_BR: Hungary
              zh_Hans: 匈牙利
            value: hungary
          - icon: ''
            label:
              en_US: Iceland
              ja_JP: Iceland
              pt_BR: Iceland
              zh_Hans: 冰岛
            value: iceland
          - icon: ''
            label:
              en_US: India
              ja_JP: India
              pt_BR: India
              zh_Hans: 印度
            value: india
          - icon: ''
            label:
              en_US: Indonesia
              ja_JP: Indonesia
              pt_BR: Indonesia
              zh_Hans: 印度尼西亚
            value: indonesia
          - icon: ''
            label:
              en_US: Iran
              ja_JP: Iran
              pt_BR: Iran
              zh_Hans: 伊朗
            value: iran
          - icon: ''
            label:
              en_US: Iraq
              ja_JP: Iraq
              pt_BR: Iraq
              zh_Hans: 伊拉克
            value: iraq
          - icon: ''
            label:
              en_US: Ireland
              ja_JP: Ireland
              pt_BR: Ireland
              zh_Hans: 爱尔兰
            value: ireland
          - icon: ''
            label:
              en_US: Israel
              ja_JP: Israel
              pt_BR: Israel
              zh_Hans: 以色列
            value: israel
          - icon: ''
            label:
              en_US: Italy
              ja_JP: Italy
              pt_BR: Italy
              zh_Hans: 意大利
            value: italy
          - icon: ''
            label:
              en_US: Jamaica
              ja_JP: Jamaica
              pt_BR: Jamaica
              zh_Hans: 牙买加
            value: jamaica
          - icon: ''
            label:
              en_US: Japan
              ja_JP: Japan
              pt_BR: Japan
              zh_Hans: 日本
            value: japan
          - icon: ''
            label:
              en_US: Jordan
              ja_JP: Jordan
              pt_BR: Jordan
              zh_Hans: 约旦
            value: jordan
          - icon: ''
            label:
              en_US: Kazakhstan
              ja_JP: Kazakhstan
              pt_BR: Kazakhstan
              zh_Hans: 哈萨克斯坦
            value: kazakhstan
          - icon: ''
            label:
              en_US: Kenya
              ja_JP: Kenya
              pt_BR: Kenya
              zh_Hans: 肯尼亚
            value: kenya
          - icon: ''
            label:
              en_US: Kuwait
              ja_JP: Kuwait
              pt_BR: Kuwait
              zh_Hans: 科威特
            value: kuwait
          - icon: ''
            label:
              en_US: Kyrgyzstan
              ja_JP: Kyrgyzstan
              pt_BR: Kyrgyzstan
              zh_Hans: 吉尔吉斯斯坦
            value: kyrgyzstan
          - icon: ''
            label:
              en_US: Latvia
              ja_JP: Latvia
              pt_BR: Latvia
              zh_Hans: 拉脱维亚
            value: latvia
          - icon: ''
            label:
              en_US: Lebanon
              ja_JP: Lebanon
              pt_BR: Lebanon
              zh_Hans: 黎巴嫩
            value: lebanon
          - icon: ''
            label:
              en_US: Lesotho
              ja_JP: Lesotho
              pt_BR: Lesotho
              zh_Hans: 莱索托
            value: lesotho
          - icon: ''
            label:
              en_US: Liberia
              ja_JP: Liberia
              pt_BR: Liberia
              zh_Hans: 利比里亚
            value: liberia
          - icon: ''
            label:
              en_US: Libya
              ja_JP: Libya
              pt_BR: Libya
              zh_Hans: 利比亚
            value: libya
          - icon: ''
            label:
              en_US: Liechtenstein
              ja_JP: Liechtenstein
              pt_BR: Liechtenstein
              zh_Hans: 列支敦士登
            value: liechtenstein
          - icon: ''
            label:
              en_US: Lithuania
              ja_JP: Lithuania
              pt_BR: Lithuania
              zh_Hans: 立陶宛
            value: lithuania
          - icon: ''
            label:
              en_US: Luxembourg
              ja_JP: Luxembourg
              pt_BR: Luxembourg
              zh_Hans: 卢森堡
            value: luxembourg
          - icon: ''
            label:
              en_US: Madagascar
              ja_JP: Madagascar
              pt_BR: Madagascar
              zh_Hans: 马达加斯加
            value: madagascar
          - icon: ''
            label:
              en_US: Malawi
              ja_JP: Malawi
              pt_BR: Malawi
              zh_Hans: 马拉维
            value: malawi
          - icon: ''
            label:
              en_US: Malaysia
              ja_JP: Malaysia
              pt_BR: Malaysia
              zh_Hans: 马来西亚
            value: malaysia
          - icon: ''
            label:
              en_US: Maldives
              ja_JP: Maldives
              pt_BR: Maldives
              zh_Hans: 马尔代夫
            value: maldives
          - icon: ''
            label:
              en_US: Mali
              ja_JP: Mali
              pt_BR: Mali
              zh_Hans: 马里
            value: mali
          - icon: ''
            label:
              en_US: Malta
              ja_JP: Malta
              pt_BR: Malta
              zh_Hans: 马耳他
            value: malta
          - icon: ''
            label:
              en_US: Mauritania
              ja_JP: Mauritania
              pt_BR: Mauritania
              zh_Hans: 毛里塔尼亚
            value: mauritania
          - icon: ''
            label:
              en_US: Mauritius
              ja_JP: Mauritius
              pt_BR: Mauritius
              zh_Hans: 毛里求斯
            value: mauritius
          - icon: ''
            label:
              en_US: Mexico
              ja_JP: Mexico
              pt_BR: Mexico
              zh_Hans: 墨西哥
            value: mexico
          - icon: ''
            label:
              en_US: Moldova
              ja_JP: Moldova
              pt_BR: Moldova
              zh_Hans: 摩尔多瓦
            value: moldova
          - icon: ''
            label:
              en_US: Monaco
              ja_JP: Monaco
              pt_BR: Monaco
              zh_Hans: 摩纳哥
            value: monaco
          - icon: ''
            label:
              en_US: Mongolia
              ja_JP: Mongolia
              pt_BR: Mongolia
              zh_Hans: 蒙古
            value: mongolia
          - icon: ''
            label:
              en_US: Montenegro
              ja_JP: Montenegro
              pt_BR: Montenegro
              zh_Hans: 黑山
            value: montenegro
          - icon: ''
            label:
              en_US: Morocco
              ja_JP: Morocco
              pt_BR: Morocco
              zh_Hans: 摩洛哥
            value: morocco
          - icon: ''
            label:
              en_US: Mozambique
              ja_JP: Mozambique
              pt_BR: Mozambique
              zh_Hans: 莫桑比克
            value: mozambique
          - icon: ''
            label:
              en_US: Myanmar
              ja_JP: Myanmar
              pt_BR: Myanmar
              zh_Hans: 缅甸
            value: myanmar
          - icon: ''
            label:
              en_US: Namibia
              ja_JP: Namibia
              pt_BR: Namibia
              zh_Hans: 纳米比亚
            value: namibia
          - icon: ''
            label:
              en_US: Nepal
              ja_JP: Nepal
              pt_BR: Nepal
              zh_Hans: 尼泊尔
            value: nepal
          - icon: ''
            label:
              en_US: Netherlands
              ja_JP: Netherlands
              pt_BR: Netherlands
              zh_Hans: 荷兰
            value: netherlands
          - icon: ''
            label:
              en_US: New Zealand
              ja_JP: New Zealand
              pt_BR: New Zealand
              zh_Hans: 新西兰
            value: new zealand
          - icon: ''
            label:
              en_US: Nicaragua
              ja_JP: Nicaragua
              pt_BR: Nicaragua
              zh_Hans: 尼加拉瓜
            value: nicaragua
          - icon: ''
            label:
              en_US: Niger
              ja_JP: Niger
              pt_BR: Niger
              zh_Hans: 尼日尔
            value: niger
          - icon: ''
            label:
              en_US: Nigeria
              ja_JP: Nigeria
              pt_BR: Nigeria
              zh_Hans: 尼日利亚
            value: nigeria
          - icon: ''
            label:
              en_US: North Korea
              ja_JP: North Korea
              pt_BR: North Korea
              zh_Hans: 朝鲜
            value: north korea
          - icon: ''
            label:
              en_US: North Macedonia
              ja_JP: North Macedonia
              pt_BR: North Macedonia
              zh_Hans: 北马其顿
            value: north macedonia
          - icon: ''
            label:
              en_US: Norway
              ja_JP: Norway
              pt_BR: Norway
              zh_Hans: 挪威
            value: norway
          - icon: ''
            label:
              en_US: Oman
              ja_JP: Oman
              pt_BR: Oman
              zh_Hans: 阿曼
            value: oman
          - icon: ''
            label:
              en_US: Pakistan
              ja_JP: Pakistan
              pt_BR: Pakistan
              zh_Hans: 巴基斯坦
            value: pakistan
          - icon: ''
            label:
              en_US: Panama
              ja_JP: Panama
              pt_BR: Panama
              zh_Hans: 巴拿马
            value: panama
          - icon: ''
            label:
              en_US: Papua New Guinea
              ja_JP: Papua New Guinea
              pt_BR: Papua New Guinea
              zh_Hans: 巴布亚新几内亚
            value: papua new guinea
          - icon: ''
            label:
              en_US: Paraguay
              ja_JP: Paraguay
              pt_BR: Paraguay
              zh_Hans: 巴拉圭
            value: paraguay
          - icon: ''
            label:
              en_US: Peru
              ja_JP: Peru
              pt_BR: Peru
              zh_Hans: 秘鲁
            value: peru
          - icon: ''
            label:
              en_US: Philippines
              ja_JP: Philippines
              pt_BR: Philippines
              zh_Hans: 菲律宾
            value: philippines
          - icon: ''
            label:
              en_US: Poland
              ja_JP: Poland
              pt_BR: Poland
              zh_Hans: 波兰
            value: poland
          - icon: ''
            label:
              en_US: Portugal
              ja_JP: Portugal
              pt_BR: Portugal
              zh_Hans: 葡萄牙
            value: portugal
          - icon: ''
            label:
              en_US: Qatar
              ja_JP: Qatar
              pt_BR: Qatar
              zh_Hans: 卡塔尔
            value: qatar
          - icon: ''
            label:
              en_US: Romania
              ja_JP: Romania
              pt_BR: Romania
              zh_Hans: 罗马尼亚
            value: romania
          - icon: ''
            label:
              en_US: Russia
              ja_JP: Russia
              pt_BR: Russia
              zh_Hans: 俄罗斯
            value: russia
          - icon: ''
            label:
              en_US: Rwanda
              ja_JP: Rwanda
              pt_BR: Rwanda
              zh_Hans: 卢旺达
            value: rwanda
          - icon: ''
            label:
              en_US: Saudi Arabia
              ja_JP: Saudi Arabia
              pt_BR: Saudi Arabia
              zh_Hans: 沙特阿拉伯
            value: saudi arabia
          - icon: ''
            label:
              en_US: Senegal
              ja_JP: Senegal
              pt_BR: Senegal
              zh_Hans: 塞内加尔
            value: senegal
          - icon: ''
            label:
              en_US: Serbia
              ja_JP: Serbia
              pt_BR: Serbia
              zh_Hans: 塞尔维亚
            value: serbia
          - icon: ''
            label:
              en_US: Singapore
              ja_JP: Singapore
              pt_BR: Singapore
              zh_Hans: 新加坡
            value: singapore
          - icon: ''
            label:
              en_US: Slovakia
              ja_JP: Slovakia
              pt_BR: Slovakia
              zh_Hans: 斯洛伐克
            value: slovakia
          - icon: ''
            label:
              en_US: Slovenia
              ja_JP: Slovenia
              pt_BR: Slovenia
              zh_Hans: 斯洛文尼亚
            value: slovenia
          - icon: ''
            label:
              en_US: Somalia
              ja_JP: Somalia
              pt_BR: Somalia
              zh_Hans: 索马里
            value: somalia
          - icon: ''
            label:
              en_US: South Africa
              ja_JP: South Africa
              pt_BR: South Africa
              zh_Hans: 南非
            value: south africa
          - icon: ''
            label:
              en_US: South Korea
              ja_JP: South Korea
              pt_BR: South Korea
              zh_Hans: 韩国
            value: south korea
          - icon: ''
            label:
              en_US: South Sudan
              ja_JP: South Sudan
              pt_BR: South Sudan
              zh_Hans: 南苏丹
            value: south sudan
          - icon: ''
            label:
              en_US: Spain
              ja_JP: Spain
              pt_BR: Spain
              zh_Hans: 西班牙
            value: spain
          - icon: ''
            label:
              en_US: Sri Lanka
              ja_JP: Sri Lanka
              pt_BR: Sri Lanka
              zh_Hans: 斯里兰卡
            value: sri lanka
          - icon: ''
            label:
              en_US: Sudan
              ja_JP: Sudan
              pt_BR: Sudan
              zh_Hans: 苏丹
            value: sudan
          - icon: ''
            label:
              en_US: Sweden
              ja_JP: Sweden
              pt_BR: Sweden
              zh_Hans: 瑞典
            value: sweden
          - icon: ''
            label:
              en_US: Switzerland
              ja_JP: Switzerland
              pt_BR: Switzerland
              zh_Hans: 瑞士
            value: switzerland
          - icon: ''
            label:
              en_US: Syria
              ja_JP: Syria
              pt_BR: Syria
              zh_Hans: 叙利亚
            value: syria
          - icon: ''
            label:
              en_US: Taiwan
              ja_JP: Taiwan
              pt_BR: Taiwan
              zh_Hans: 台湾
            value: taiwan
          - icon: ''
            label:
              en_US: Tajikistan
              ja_JP: Tajikistan
              pt_BR: Tajikistan
              zh_Hans: 塔吉克斯坦
            value: tajikistan
          - icon: ''
            label:
              en_US: Tanzania
              ja_JP: Tanzania
              pt_BR: Tanzania
              zh_Hans: 坦桑尼亚
            value: tanzania
          - icon: ''
            label:
              en_US: Thailand
              ja_JP: Thailand
              pt_BR: Thailand
              zh_Hans: 泰国
            value: thailand
          - icon: ''
            label:
              en_US: Togo
              ja_JP: Togo
              pt_BR: Togo
              zh_Hans: 多哥
            value: togo
          - icon: ''
            label:
              en_US: Trinidad and Tobago
              ja_JP: Trinidad and Tobago
              pt_BR: Trinidad and Tobago
              zh_Hans: 特立尼达和多巴哥
            value: trinidad and tobago
          - icon: ''
            label:
              en_US: Tunisia
              ja_JP: Tunisia
              pt_BR: Tunisia
              zh_Hans: 突尼斯
            value: tunisia
          - icon: ''
            label:
              en_US: Turkey
              ja_JP: Turkey
              pt_BR: Turkey
              zh_Hans: 土耳其
            value: turkey
          - icon: ''
            label:
              en_US: Turkmenistan
              ja_JP: Turkmenistan
              pt_BR: Turkmenistan
              zh_Hans: 土库曼斯坦
            value: turkmenistan
          - icon: ''
            label:
              en_US: Uganda
              ja_JP: Uganda
              pt_BR: Uganda
              zh_Hans: 乌干达
            value: uganda
          - icon: ''
            label:
              en_US: Ukraine
              ja_JP: Ukraine
              pt_BR: Ukraine
              zh_Hans: 乌克兰
            value: ukraine
          - icon: ''
            label:
              en_US: United Arab Emirates
              ja_JP: United Arab Emirates
              pt_BR: United Arab Emirates
              zh_Hans: 阿拉伯联合酋长国
            value: united arab emirates
          - icon: ''
            label:
              en_US: United Kingdom
              ja_JP: United Kingdom
              pt_BR: United Kingdom
              zh_Hans: 英国
            value: united kingdom
          - icon: ''
            label:
              en_US: United States
              ja_JP: United States
              pt_BR: United States
              zh_Hans: 美国
            value: united states
          - icon: ''
            label:
              en_US: Uruguay
              ja_JP: Uruguay
              pt_BR: Uruguay
              zh_Hans: 乌拉圭
            value: uruguay
          - icon: ''
            label:
              en_US: Uzbekistan
              ja_JP: Uzbekistan
              pt_BR: Uzbekistan
              zh_Hans: 乌兹别克斯坦
            value: uzbekistan
          - icon: ''
            label:
              en_US: Venezuela
              ja_JP: Venezuela
              pt_BR: Venezuela
              zh_Hans: 委内瑞拉
            value: venezuela
          - icon: ''
            label:
              en_US: Vietnam
              ja_JP: Vietnam
              pt_BR: Vietnam
              zh_Hans: 越南
            value: vietnam
          - icon: ''
            label:
              en_US: Yemen
              ja_JP: Yemen
              pt_BR: Yemen
              zh_Hans: 也门
            value: yemen
          - icon: ''
            label:
              en_US: Zambia
              ja_JP: Zambia
              pt_BR: Zambia
              zh_Hans: 赞比亚
            value: zambia
          - icon: ''
            label:
              en_US: Zimbabwe
              ja_JP: Zimbabwe
              pt_BR: Zimbabwe
              zh_Hans: 津巴布韦
            value: zimbabwe
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: A comma-separated list of domains to specifically include in the
              search results.
            ja_JP: A comma-separated list of domains to specifically include in the
              search results.
            pt_BR: A comma-separated list of domains to specifically include in the
              search results.
            zh_Hans: 要在搜索结果中特别包含的域的逗号分隔列表。
          label:
            en_US: Include Domains
            ja_JP: Include Domains
            pt_BR: Include Domains
            zh_Hans: 包含域
          llm_description: A comma-separated list of domains to specifically include
            in the search results.
          max: null
          min: null
          name: include_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: A comma-separated list of domains to specifically exclude from
              the search results.
            ja_JP: A comma-separated list of domains to specifically exclude from
              the search results.
            pt_BR: A comma-separated list of domains to specifically exclude from
              the search results.
            zh_Hans: 要从搜索结果中特别排除的域的逗号分隔列表。
          label:
            en_US: Exclude Domains
            ja_JP: Exclude Domains
            pt_BR: Exclude Domains
            zh_Hans: 排除域
          llm_description: A comma-separated list of domains to specifically exclude
            from the search results.
          max: null
          min: null
          name: exclude_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          auto_parameters: ''
          chunks_per_source: ''
          country: ''
          days: ''
          exclude_domains: ''
          include_answer: ''
          include_domains: ''
          include_favicon: ''
          include_image_descriptions: ''
          include_images: ''
          include_raw_content: ''
          max_results: ''
          query: ''
          search_depth: ''
          time_range: ''
          topic: ''
        plugin_id: langgenius/tavily
        plugin_unique_identifier: langgenius/tavily:0.1.4@63760777d2aed19b308ee4518125bccea491dfa518609802edb6a3a31272c665
        provider_id: langgenius/tavily/tavily
        provider_name: langgenius/tavily/tavily
        provider_type: builtin
        selected: false
        title: "Tavily弱シグナル検索"
        tool_configurations:
          auto_parameters:
            type: constant
            value: false
          chunks_per_source:
            type: constant
            value: 3
          include_answer:
            type: constant
            value: false
          include_favicon:
            type: constant
            value: false
          include_image_descriptions:
            type: constant
            value: false
          include_images:
            type: constant
            value: false
          include_raw_content:
            type: constant
            value: false
          max_results:
            type: constant
            value: 10
        tool_description: A search engine tool built specifically for AI agents (LLMs),
          delivering real-time, accurate, and factual results at speed.
        tool_label: Tavily Search
        tool_name: tavily_search
        tool_node_version: '2'
        tool_parameters:
          country:
            type: constant
            value: united states
          days:
            type: constant
            value: 7
          exclude_domains:
            type: mixed
            value: null
          include_domains:
            type: mixed
            value: null
          query:
            type: mixed
            value: '{{#4031.weak_query#}}'
          search_depth:
            type: constant
            value: basic
          time_range:
            type: constant
            value: not_specified
          topic:
            type: constant
            value: general
        type: tool
      height: 269
      id: '4032'
      position:
        x: 2450
        y: 550
      positionAbsolute:
        x: 2450
        y: 550
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(github_body: str, weak_signal_text: str) -> dict:\n    results = []\n    try:\n        gh = json.loads(github_body)\n        for repo in gh.get('items', [])[:10]:\n            results.append(f\"[GitHub] {repo.get('full_name','')} - {repo.get('description','')} (Stars:{repo.get('stargazers_count',0)}) {repo.get('html_url','')}\")\n    except:\n        pass\n    if weak_signal_text:\n        results.append(f\"[WeakSignal] {weak_signal_text[:2000]}\")\n    return {\"extra_findings\": json.dumps(results, ensure_ascii=False)}"
        code_language: python3
        outputs:
          extra_findings:
            children: null
            type: string
        selected: false
        title: "GitHub+弱シグナル結果整形"
        type: code
        variables:
        - value_selector:
          - '4030'
          - body
          value_type: string
          variable: github_body
        - value_selector:
          - '4032'
          - text
          value_type: string
          variable: weak_signal_text
      height: 52
      id: '4033'
      position:
        x: 2800
        y: 550
      positionAbsolute:
        x: 2800
        y: 550
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json, hashlib, re\n\ndef main(main_findings: list, extra_findings: str) -> dict:\n    all_items = []\n    for finding in main_findings:\n        if not finding:\n            continue\n        lines = finding.strip().split('\\n')\n        title = lines[0][:200] if lines else \"Unknown\"\n        url = \"\"\n        for line in lines:\n            if line.strip().startswith('http'):\n                url = line.strip()\n                break\n        domain = \"\"\n        if url:\n            try:\n                from urllib.parse import urlparse\n                domain = urlparse(url).netloc.replace('www.', '')\n            except:\n                pass\n        norm = re.sub(r'[\\s\\-_:]', '', title.lower()[:50])\n        h = hashlib.sha256(f\"{norm}|{domain}\".encode()).hexdigest()[:16]\n        all_items.append({\"title\": title, \"url\": url, \"domain\": domain, \"hash\": h, \"source_type\": \"tavily\", \"content\": finding[:500]})\n\n    try:\n        for item in json.loads(extra_findings):\n            if isinstance(item, str):\n                st = \"github\" if \"[GitHub]\" in item else \"weak_signal\"\n                all_items.append({\"title\": item[:200], \"url\": \"\", \"domain\": \"\", \"hash\": hashlib.sha256(item[:100].encode()).hexdigest()[:16], \"source_type\": st, \"content\": item[:500]})\n    except:\n        pass\n    return {\"normalized_all\": json.dumps(all_items, ensure_ascii=False), \"total_raw_count\": str(len(all_items))}"
        code_language: python3
        outputs:
          normalized_all:
            children: null
            type: string
          total_raw_count:
            children: null
            type: string
        selected: false
        title: "全ソース統合・正規化"
        type: code
        variables:
        - value_selector:
          - '4011'
          - output
          value_type: array[string]
          variable: main_findings
        - value_selector:
          - '4033'
          - extra_findings
          value_type: string
          variable: extra_findings
      height: 52
      id: '4012'
      position:
        x: 3400
        y: 300
      positionAbsolute:
        x: 3400
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: a1b2c3d4-1111-4000-8000-000000004013
          role: system
          text: ''
        - id: a1b2c3d4-2222-4000-8000-000000004013
          role: user
          text: "You are a tech intelligence analyst. Evaluate each article on 5 axes.\n\n## Articles\n{{#4012.normalized_all#}}\n\n## Score each article (1-5):\n1. primary_source: Official blog/release notes/docs=5, aggregator/rumor=1\n2. real_product: GA product with repo/API=5, vaporware=1\n3. dev_relevant: Directly actionable for developers=5, business-only=1\n4. try_now: Public GA/beta/playground=5, no access=1\n5. not_hype: Deep technical content=5, pure PR/marketing=1\n6. overall: Weighted score 1-10\n\n## Output JSON array ONLY:\n[{\"index\":0,\"title\":\"...\",\"scores\":{\"primary\":4,\"product\":5,\"dev_relevant\":5,\"try_now\":3,\"not_hype\":4,\"overall\":8}},...]"
        selected: false
        title: "5軸評価"
        type: llm
        vision:
          enabled: false
      height: 94
      id: '4013'
      position:
        x: 3750
        y: 300
      positionAbsolute:
        x: 3750
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json, re\n\ndef main(eval_text: str, normalized_all: str, domain_trust_json: str, prev_titles_json: str) -> dict:\n    articles = json.loads(normalized_all) if normalized_all else []\n    evals = []\n    try:\n        raw = eval_text.strip()\n        s, e = raw.find('['), raw.rfind(']') + 1\n        if s >= 0 and e > s:\n            evals = json.loads(raw[s:e])\n    except:\n        pass\n\n    trust_map = {}\n    try:\n        for d in json.loads(domain_trust_json):\n            trust_map[d.get('domain', '')] = d.get('trust_score', 5)\n    except:\n        pass\n\n    prev_set = set()\n    try:\n        for t in json.loads(prev_titles_json):\n            prev_set.add(t.lower().strip()[:30])\n    except:\n        pass\n\n    eval_map = {ev.get('index', -1): ev.get('scores', {}) for ev in evals}\n    filtered = []\n    for i, art in enumerate(articles):\n        scores = eval_map.get(i, {})\n        overall = scores.get('overall', 5)\n        if overall < 3:\n            continue\n        art['eval_scores'] = scores\n        art['overall_score'] = overall\n        art['trust_score'] = trust_map.get(art.get('domain', ''), 5)\n        art['importance'] = 'HIGH' if overall >= 7 else ('NOTABLE' if overall >= 4 else 'LOW')\n        art['diff_status'] = 'UPDATE' if art.get('title', '').lower().strip()[:30] in prev_set else 'NEW'\n        speculation = [r'reportedly', r'rumor', r'allegedly', r'might be', r'could be']\n        art['is_speculation'] = any(re.search(p, art.get('content', ''), re.IGNORECASE) for p in speculation)\n        art['label'] = '\\u26a0\\ufe0f' if art['is_speculation'] else ''\n        filtered.append(art)\n    filtered.sort(key=lambda x: (-x.get('overall_score', 0),))\n    new_c = sum(1 for f in filtered if f['diff_status'] == 'NEW')\n    upd_c = sum(1 for f in filtered if f['diff_status'] == 'UPDATE')\n    kws = list(set(f['title'][:20] for f in filtered))\n    return {\n        \"filtered_findings\": json.dumps(filtered[:30], ensure_ascii=False),\n        \"diff_summary\": json.dumps({\"new_count\": new_c, \"update_count\": upd_c, \"total\": len(filtered)}, ensure_ascii=False),\n        \"current_keywords\": json.dumps(kws, ensure_ascii=False),\n        \"new_hashes\": json.dumps([f['hash'] for f in filtered], ensure_ascii=False)\n    }"
        code_language: python3
        outputs:
          current_keywords:
            children: null
            type: string
          diff_summary:
            children: null
            type: string
          filtered_findings:
            children: null
            type: string
          new_hashes:
            children: null
            type: string
        selected: false
        title: "スコアフィルタ+差分検知"
        type: code
        variables:
        - value_selector:
          - '4013'
          - text
          value_type: string
          variable: eval_text
        - value_selector:
          - '4012'
          - normalized_all
          value_type: string
          variable: normalized_all
        - value_selector:
          - '4005'
          - body
          value_type: string
          variable: domain_trust_json
        - value_selector:
          - '4006'
          - prev_titles_json
          value_type: string
          variable: prev_titles_json
      height: 52
      id: '4014'
      position:
        x: 4100
        y: 300
      positionAbsolute:
        x: 4100
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: a1b2c3d4-1111-4000-8000-000000004016
          role: system
          text: ''
        - id: a1b2c3d4-2222-4000-8000-000000004016
          role: user
          text: "あなたはAI/IT技術のインテリジェンスアナリストです。\n以下の検索結果を分析し、開発者向けテックインテリジェンスレポートを作成してください。\n\n## 対象期間\n{{#4002.date_range#}}\n\n## 検索結果（5軸評価・フィルタ済み）\n{{#4014.filtered_findings#}}\n\n## 差分サマリー\n{{#4014.diff_summary#}}\n\n## ウォッチ対象\n{{#4006.watch_summary#}}\n\n## 前回のキーワード\n{{#4006.prev_keywords_json#}}\n\n## 出力ルール\n\n### 1. 変化ハイライト（3行以内）\n前回からの重要変化を3行。[NEW]または[UPDATE]付与。\n\n### 2. 定点観測（固定5カテゴリ）\n各2-4件。3点固定フォーマット:\n[差分] タイトル（日付）\n  何が起きた: 事実1行（日付・固有名詞・数値必須）\n  誰に効く: BE/FE/ML/Infra/PM/CTOから1-3個\n  試すべきこと: 具体的アクション1行\nカテゴリ: 1.LLM/基盤モデル 2.開発ツール 3.ビジネス 4.規制/安全性 5.研究\n\n### 3. スポットライト（変動1枠）\n最も密度の高い新テーマを1つ。\n\n### 4. ウォッチリスト進捗\nウォッチ対象の進展報告。形式: [名前] ↗️/→/↘️\n\n### 5. 今週の発掘（1件）\nGitHub急伸や弱シグナルから1件。\n\n### フォーマット: Slack mrkdwn\n太字*テキスト*、区切り━━━、🆕[NEW] 🔄[UPDATE] 📍[WATCH]\n5000文字以内。期間外除外。憶測に⚠️。\n\n### 言語\n- レポート本文は必ず日本語で出力してください。\n- 英語ソースの情報も日本語に翻訳して記載してください。\n- 固有名詞（製品名、企業名、技術名）は英語のまま残してください。\n- 例: 「OpenAIがGPT-5 Turboを発表。出力コスト40%削減、128Kコンテキスト対応」"
        selected: false
        title: "カテゴリ分類+実務インパクト分析"
        type: llm
        vision:
          enabled: false
      height: 94
      id: '4016'
      position:
        x: 4450
        y: 300
      positionAbsolute:
        x: 4450
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(report_text: str, date_range: str, diff_summary: str) -> dict:\n    diff = json.loads(diff_summary) if diff_summary else {}\n    new_c = diff.get('new_count', 0)\n    upd_c = diff.get('update_count', 0)\n    total = diff.get('total', 0)\n    blocks = [\n        {\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": f\"AI/IT テックインテリジェンス {date_range}\"[:150], \"emoji\": True}},\n        {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": f\"前回から: \\U0001f195 NEW {new_c}件 / \\U0001f504 UPDATE {upd_c}件 / 合計{total}件\"}]},\n        {\"type\": \"divider\"}\n    ]\n    for section in report_text.split('\\u2501\\u2501\\u2501'):\n        s = section.strip()\n        if not s:\n            continue\n        if len(s) > 2900:\n            for i in range(0, len(s), 2900):\n                blocks.append({\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": s[i:i+2900]}})\n        else:\n            blocks.append({\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": s}})\n        blocks.append({\"type\": \"divider\"})\n    blocks.append({\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": \"\\U0001f916 Powered by Dify + Gemini | 一次情報優先・自動生成レポート\"}]})\n    if len(blocks) > 49:\n        blocks = blocks[:48] + [blocks[-1]]\n    return {\"main_blocks\": json.dumps(blocks, ensure_ascii=False)}"
        code_language: python3
        outputs:
          main_blocks:
            children: null
            type: string
        selected: false
        title: "Slack Block Kit生成"
        type: code
        variables:
        - value_selector:
          - '4016'
          - text
          value_type: string
          variable: report_text
        - value_selector:
          - '4002'
          - date_range
          value_type: string
          variable: date_range
        - value_selector:
          - '4014'
          - diff_summary
          value_type: string
          variable: diff_summary
      height: 52
      id: '4017'
      position:
        x: 4800
        y: 300
      positionAbsolute:
        x: 4800
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{"blocks": {{#4017.main_blocks#}}, "text": "AI/IT テックインテリジェンス
            {{#4002.date_range#}}"}'
          type: raw-text
        headers: 'Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 0
        title: "Slack送信"
        type: http-request
        url: '{{#env.SLACK_WEBHOOK_URL#}}'
        variables: []
      height: 157
      id: '4018'
      position:
        x: 5150
        y: 300
      positionAbsolute:
        x: 5150
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(filtered_findings: str, current_keywords: str, new_hashes: str, date_range: str, diff_summary: str, today_iso: str) -> dict:\n    rec = {\"delivery_date\": today_iso, \"date_range\": date_range, \"keywords\": json.loads(current_keywords) if current_keywords else [], \"categories\": {}, \"diff_summary\": json.loads(diff_summary) if diff_summary else {}}\n    try:\n        for f in json.loads(filtered_findings):\n            rec[\"categories\"][f.get(\"title\", \"\")[:50]] = f\n    except:\n        pass\n    hashes = []\n    try:\n        hs = json.loads(new_hashes)\n        fs = json.loads(filtered_findings)\n        for i, h in enumerate(hs):\n            if i < len(fs):\n                hashes.append({\"hash\": h, \"title\": fs[i].get(\"title\", \"\"), \"url\": fs[i].get(\"url\", \"\"), \"source_domain\": fs[i].get(\"domain\", \"\"), \"first_seen_date\": today_iso})\n    except:\n        pass\n    return {\"delivery_json\": json.dumps(rec, ensure_ascii=False), \"hashes_json\": json.dumps(hashes, ensure_ascii=False)}"
        code_language: python3
        outputs:
          delivery_json:
            children: null
            type: string
          hashes_json:
            children: null
            type: string
        selected: false
        title: "保存データ準備"
        type: code
        variables:
        - value_selector:
          - '4014'
          - filtered_findings
          value_type: string
          variable: filtered_findings
        - value_selector:
          - '4014'
          - current_keywords
          value_type: string
          variable: current_keywords
        - value_selector:
          - '4014'
          - new_hashes
          value_type: string
          variable: new_hashes
        - value_selector:
          - '4002'
          - date_range
          value_type: string
          variable: date_range
        - value_selector:
          - '4014'
          - diff_summary
          value_type: string
          variable: diff_summary
        - value_selector:
          - '4002'
          - today_iso
          value_type: string
          variable: today_iso
      height: 52
      id: '4019'
      position:
        x: 5500
        y: 300
      positionAbsolute:
        x: 5500
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#4019.delivery_json#}}'
          type: raw-text
        headers: 'apikey:{{#env.SUPABASE_ANON_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_ANON_KEY#}}

          Content-Type:application/json

          Prefer:return=minimal'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 0
        title: "配信履歴保存"
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/deliveries'
        variables: []
      height: 157
      id: '4020'
      position:
        x: 5850
        y: 200
      positionAbsolute:
        x: 5850
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#4019.hashes_json#}}'
          type: raw-text
        headers: 'apikey:{{#env.SUPABASE_ANON_KEY#}}

          Authorization:Bearer {{#env.SUPABASE_ANON_KEY#}}

          Content-Type:application/json

          Prefer:return=minimal'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 0
        title: "記事ハッシュ保存"
        type: http-request
        url: '{{#env.SUPABASE_URL#}}/rest/v1/article_hashes'
        variables: []
      height: 157
      id: '4021'
      position:
        x: 5850
        y: 450
      positionAbsolute:
        x: 5850
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '4016'
          - text
          variable: report
        selected: false
        title: "完了"
        type: end
      height: 88
      id: '4023'
      position:
        x: 6200
        y: 300
      positionAbsolute:
        x: 6200
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242

    viewport:
      x: -50
      y: 100
      zoom: 0.6
  rag_pipeline_variables: []
