DeepResearch (1).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#D1E9FF'
  mode: advanced-chat
  name: DeepResearch
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tavily:0.1.2@aa7a8744b2ccf3a7aec818da6c504997a6319b29040e541bfc73b4fbaa9e98d9
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.6.4@17f286b2d6699a258a2eba8bc1bff71b8f795b6aa7bee1464cbfa450b451303a
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/json_process:0.0.2@dde6d7b676ccdcea89206d29232181a840170c19277d3d978e27cd1e3c92c707
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: ''
    id: 07ea9b5b-edf2-471d-8206-50e95e7ab87e
    name: topics
    selector:
    - conversation
    - topics
    value: []
    value_type: array[string]
  - description: ''
    id: a9049588-f66f-4c3a-a30e-5952a677baa9
    name: nextSearchTopic
    selector:
    - conversation
    - nextSearchTopic
    value: ''
    value_type: string
  - description: ''
    id: 2e0a2539-345c-4723-8b1b-b653e1a0caef
    name: findings
    selector:
    - conversation
    - findings
    value: []
    value_type: array[string]
  - description: ''
    id: 23d208d1-a50d-468c-8757-ad49da0886e1
    name: shouldContinue
    selector:
    - conversation
    - shouldContinue
    value: 'true'
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: iteration-start
        targetType: llm
      id: 1739244888446start-source-1739245286499-target
      selected: false
      source: 1739244888446start
      sourceHandle: source
      target: '1739245286499'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: llm
        targetType: tool
      id: 1739245286499-source-1739245446901-target
      selected: false
      source: '1739245286499'
      sourceHandle: source
      target: '1739245446901'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: llm
        targetType: tool
      id: 1739245286499-source-1739245524260-target
      selected: false
      source: '1739245286499'
      sourceHandle: source
      target: '1739245524260'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1739229221219-source-1739245548624-target
      selected: false
      source: '1739229221219'
      sourceHandle: source
      target: '1739245548624'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1739245548624-source-1739244888446-target
      selected: false
      source: '1739245548624'
      sourceHandle: source
      target: '1739244888446'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: if-else
        targetType: tool
      id: 1739245723720-true-1739245424964-target
      selected: false
      source: '1739245723720'
      sourceHandle: 'true'
      target: '1739245424964'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: tool
        targetType: assigner
      id: 1739245446901-source-1739245826988-target
      selected: false
      source: '1739245446901'
      sourceHandle: source
      target: '1739245826988'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: tool
        targetType: assigner
      id: 1739245424964-source-1739246085820-target
      selected: false
      source: '1739245424964'
      sourceHandle: source
      target: '1739246085820'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: llm
      id: 1739244888446-source-1739246156652-target
      selected: false
      source: '1739244888446'
      sourceHandle: source
      target: '1739246156652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1739246156652-source-answer-target
      selected: false
      source: '1739246156652'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: tool
        targetType: assigner
      id: 1739245524260-source-1739245826988-target
      selected: false
      source: '1739245524260'
      sourceHandle: source
      target: '1739245826988'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: assigner
        targetType: if-else
      id: 1739245826988-source-1739245723720-target
      selected: false
      source: '1739245826988'
      sourceHandle: source
      target: '1739245723720'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: assigner
        targetType: template-transform
      id: 1739246085820-source-1739254060247-target
      selected: false
      source: '1739246085820'
      sourceHandle: source
      target: '1739254060247'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1739254060247-source-1739254296073-target
      selected: false
      source: '1739254060247'
      sourceHandle: source
      target: '1739254296073'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: variable-aggregator
        targetType: answer
      id: 1739254296073-source-1739253994297-target
      selected: false
      source: '1739254296073'
      sourceHandle: source
      target: '1739253994297'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: if-else
        targetType: template-transform
      id: 1739245723720-false-1739254516383-target
      selected: false
      source: '1739245723720'
      sourceHandle: 'false'
      target: '1739254516383'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1739244888446'
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1739254516383-source-1739254296073-target
      selected: false
      source: '1739254516383'
      sourceHandle: source
      target: '1739254296073'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: depth
          max_length: 48
          options: []
          required: false
          type: number
          variable: depth
      height: 108
      id: '1739229221219'
      position:
        x: 366.31402428155843
        y: 451.3953252394805
      positionAbsolute:
        x: 366.31402428155843
        y: 451.3953252394805
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '

          {{#1739246156652.text#}}'
        desc: ''
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 101
      id: answer
      position:
        x: 1858.4472130110016
        y: 676.2043901579685
      positionAbsolute:
        x: 1858.4472130110016
        y: 676.2043901579685
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 1042
        is_parallel: false
        iterator_selector:
        - '1739245548624'
        - array
        output_selector:
        - '1739254296073'
        - output
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1739244888446start
        title: イテレーション
        type: iteration
        width: 1186
      height: 1042
      id: '1739244888446'
      position:
        x: 633.2495193403972
        y: 563.5
      positionAbsolute:
        x: 633.2495193403972
        y: 563.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1186
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1739244888446start
      parentId: '1739244888446'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 657.2495193403972
        y: 631.5
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        memory:
          query_prompt_template: '## トピック

            {{#sys.query#}}


            ## 現在の発見事項

            {{#conversation.findings#}}


            ## 検索済のtopics

            {{#conversation.topics#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 2acdb5a9-823a-4ce3-8dbe-401540a61bc5
          role: system
          text: "あなたは以下のトピックについて調査を行う研究エージェントです\n何が分かりましたか？どのような不明点が残っていますか？次に調査すべき具体的な側面はありますか？\n\
            \n## 出力\n- 検索済みのtopicsと完全に同じtopicは出力しないでください。\n- さらに情報を検索する必要がある場合は、nextSearchTopicを設定してください。\n\
            - 十分な情報が得られた場合は、shouldContinueをfalseに設定してください。`,\n- jsonで出力してください\n\n\
            ```json\nnextSearchTopic: str | None\nshouldContinue: bool \n```\n\n\n"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1739245286499'
      parentId: '1739244888446'
      position:
        x: 128
        y: 67.17608171067138
      positionAbsolute:
        x: 761.2495193403972
        y: 630.6760817106714
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        provider_id: tavily
        provider_name: tavily
        provider_type: builtin
        selected: false
        title: Tavily Search
        tool_configurations:
          days:
            type: constant
            value: 3
          exclude_domains:
            type: constant
            value: null
          include_answer:
            type: constant
            value: 0
          include_domains:
            type: constant
            value: null
          include_image_descriptions:
            type: constant
            value: 0
          include_images:
            type: constant
            value: 0
          include_raw_content:
            type: constant
            value: 0
          max_results:
            type: constant
            value: 5
          search_depth:
            type: constant
            value: advanced
          topic:
            type: constant
            value: general
        tool_label: Tavily Search
        tool_name: tavily_search
        tool_node_version: '2'
        tool_parameters:
          query:
            type: mixed
            value: '{{#conversation.nextSearchTopic#}}'
        type: tool
      height: 321
      id: '1739245424964'
      parentId: '1739244888446'
      position:
        x: 326.22599578713334
        y: 498.438562962014
      positionAbsolute:
        x: 959.4755151275306
        y: 1061.938562962014
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        provider_id: json_process
        provider_name: json_process
        provider_type: builtin
        selected: false
        title: Extract nextSearchTopic
        tool_configurations:
          ensure_ascii:
            type: constant
            value: 1
        tool_label: JSON Parse
        tool_name: parse
        tool_node_version: '2'
        tool_parameters:
          content:
            type: mixed
            value: '{{#1739245286499.text#}}'
          json_filter:
            type: mixed
            value: nextSearchTopic
        type: tool
      height: 87
      id: '1739245446901'
      parentId: '1739244888446'
      position:
        x: 47.75538842320191
        y: 247.82584481078118
      positionAbsolute:
        x: 681.0049077635991
        y: 811.3258448107812
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        provider_id: json_process
        provider_name: json_process
        provider_type: builtin
        selected: false
        title: Extract shouldContinue
        tool_configurations:
          ensure_ascii:
            type: constant
            value: 1
        tool_label: JSON Parse
        tool_name: parse
        tool_node_version: '2'
        tool_parameters:
          content:
            type: mixed
            value: '{{#1739245286499.text#}}'
          json_filter:
            type: mixed
            value: shouldContinue
        type: tool
      height: 87
      id: '1739245524260'
      parentId: '1739244888446'
      position:
        x: 49.19865333377197
        y: 358.53359239733356
      positionAbsolute:
        x: 682.4481726741692
        y: 922.0335923973336
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\ndef main(depth: int) -> dict:\n    depth = depth or 3\n    array\
          \ = list(range(depth))\n    return {\n        \"array\": array,\n      \
          \  \"depth\": depth\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          array:
            children: null
            type: array[number]
          depth:
            children: null
            type: number
        selected: false
        title: 配列作成
        type: code
        variables:
        - value_selector:
          - '1739229221219'
          - depth
          variable: depth
      height: 51
      id: '1739245548624'
      position:
        x: 371.36822492017325
        y: 563.5
      positionAbsolute:
        x: 371.36822492017325
        y: 563.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: b3169e80-3090-4a5b-8df4-3148d7afcb4d
            value: 'True'
            varType: string
            variable_selector:
            - '1739245524260'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        selected: false
        title: IF/ELSE
        type: if-else
      height: 123
      id: '1739245723720'
      parentId: '1739244888446'
      position:
        x: 48.74608363090499
        y: 534.403100663696
      positionAbsolute:
        x: 681.9956029713022
        y: 1097.903100663696
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1739245446901'
          - text
          variable_selector:
          - conversation
          - nextSearchTopic
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1739245524260'
          - text
          variable_selector:
          - conversation
          - shouldContinue
          write_mode: over-write
        - input_type: variable
          operation: append
          value:
          - conversation
          - nextSearchTopic
          variable_selector:
          - conversation
          - topics
          write_mode: over-write
        iteration_id: '1739244888446'
        selected: false
        title: 変数代入
        type: assigner
        version: '2'
      height: 135
      id: '1739245826988'
      parentId: '1739244888446'
      position:
        x: 751.8559564663802
        y: 65
      positionAbsolute:
        x: 1385.1054758067776
        y: 628.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        items:
        - input_type: variable
          operation: append
          value:
          - '1739245424964'
          - text
          variable_selector:
          - conversation
          - findings
          write_mode: over-write
        iteration_id: '1739244888446'
        selected: false
        title: 変数代入
        type: assigner
        version: '2'
      height: 83
      id: '1739246085820'
      parentId: '1739244888446'
      position:
        x: 606.0088891085952
        y: 628.4868835893722
      positionAbsolute:
        x: 1239.2584084489924
        y: 1191.9868835893722
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: "## topic\n{{#sys.query#}}\n\n# findings \n{{#conversation.findings#}}\n"
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 89c17d58-6a63-4f4f-98fe-f6534ec1ecb0
          role: system
          text: ' 以下の調査結果に基づいて、topicに関する包括的な分析を作成してください

            重要な洞察、結論、および残された不確実性を提供してください。適切な箇所で出典を引用してください。この分析は非常に包括的で詳細な内容である必要があります。長文になることを想定しています。

            マークダウンで出力してください。'
        selected: false
        title: Reasoning Model
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1739246156652'
      position:
        x: 1858.4472130110016
        y: 563.5
      positionAbsolute:
        x: 1858.4472130110016
        y: 563.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1739254296073.output#}}'
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 101
      id: '1739253994297'
      parentId: '1739244888446'
      position:
        x: 906.5415537904462
        y: 878.1347002855746
      positionAbsolute:
        x: 1539.7910731308434
        y: 1441.6347002855746
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        selected: false
        template: '{{ index + 1 }}/{{ depth }}回目の検索を実行しました。


          '
        title: 中感出力フォーマット
        type: template-transform
        variables:
        - value_selector:
          - '1739244888446'
          - index
          variable: index
        - value_selector:
          - '1739229221219'
          - depth
          variable: depth
      height: 51
      id: '1739254060247'
      parentId: '1739244888446'
      position:
        x: 867.6964657330811
        y: 631.2310099968581
      positionAbsolute:
        x: 1500.9459850734784
        y: 1194.7310099968581
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        output_type: string
        selected: false
        title: 変数集約器
        type: variable-aggregator
        variables:
        - - '1739254060247'
          - output
        - - '1739254516383'
          - output
      height: 133
      id: '1739254296073'
      parentId: '1739244888446'
      position:
        x: 640.0246481283732
        y: 876.3796107886387
      positionAbsolute:
        x: 1273.2741674687704
        y: 1439.8796107886387
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '1739244888446'
        selected: false
        template: ' '
        title: 空白
        type: template-transform
        variables: []
      height: 51
      id: '1739254516383'
      parentId: '1739244888446'
      position:
        x: 325.67632971971057
        y: 879.2385925098547
      positionAbsolute:
        x: 958.9258490601078
        y: 1442.7385925098547
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        author: stvlynn
        desc: ''
        height: 371
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Deep
          Research","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"作者：","type":"text","version":1},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"岸田
          崇史","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"link","version":1,"rel":"noreferrer","target":null,"title":null,"url":"https://x.com/omluc_ai"}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"検索したいこと入力するだけで、検索を繰り返し実行して、レポートを作成します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"ユーザー入力の受け取り:
          ユーザーは初期の質問 (sys.query) と研究の深さ (depth) を入力します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"検索の初期化:
          GPT-4o を使用して初期の質問を分析し、検索テーマを抽出し、検索を続ける必要があるかどうかを判断します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"反復検索:
          設定された深さ (depth) に基づいて複数回の反復検索を行います。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"},{"children":[],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"各反復では、Tavily
          検索エンジンを使用し、以前に抽出した検索テーマに基づいて検索を行い、検索結果を収集します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"LLM
          を通じて検索を続ける必要があるかどうかを判断し、反復プロセスを制御します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"分析と要約:
          反復検索が終了したとき (または検索を続ける必要がないと判断したとき) に、deepseek-reasoner モデルを使用して収集したすべての検索結果を総合的に分析し、要約します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"報告書の生成:
          分析結果を Markdown 形式で最終報告書として生成し、出力します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 798
      height: 371
      id: '1739283628844'
      position:
        x: 342.95357738991356
        y: 24.07121075782824
      positionAbsolute:
        x: 342.95357738991356
        y: 24.07121075782824
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 798
    - data:
        author: stvlynn
        desc: ''
        height: 227
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"main関数は、深さを表す整数を受け取り、その深さに応じたリストと、最終的な深さの値を含む辞書を生成します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"array
          = list(range(depth)): range(depth)は、0からdepth-1までの整数のシーケンスを作成します。list()関数はこのシーケンスをリストに変換します。例えば、depthが3の場合、arrayは[0,
          1, 2]になります。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 265
      height: 227
      id: '1739283923251'
      position:
        x: -58.98072203246261
        y: 927.7036181266062
      positionAbsolute:
        x: -58.98072203246261
        y: 927.7036181266062
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 265
    - data:
        author: stvlynn
        desc: ''
        height: 122
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"GPT-4oモデルを利用して、ユーザーが入力した初期の質問を分析し、検索キーワードとテーマを抽出し、次の検索を行う必要があるかどうかを判断します。出力結果はJSON形式のテキストです。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 350
      height: 122
      id: '1739285077334'
      position:
        x: 788.6385688481537
        y: 416.30802094190165
      positionAbsolute:
        x: 788.6385688481537
        y: 416.30802094190165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 350
    - data:
        author: stvlynn
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"\"LLM\"
          ノードから出力された JSON テキストから nextSearchTopic フィールドの値を抽出します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1739285156227'
      position:
        x: 392.6233739231274
        y: 790.0751712082184
      positionAbsolute:
        x: 392.6233739231274
        y: 790.0751712082184
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: stvlynn
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"\"LLM\"
          ノードから出力された JSON テキストから shouldContinue フィールドの値を抽出します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1739285211334'
      position:
        x: 392.6233739231274
        y: 927.7036181266062
      positionAbsolute:
        x: 392.6233739231274
        y: 927.7036181266062
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: stvlynn
        desc: ''
        height: 140
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"\"EXTRACT
          NEXTSEARCHTOPIC\" および \"EXTRACT SHOULDCONTINUE\" ノードから抽出した値をそれぞれ nextSearchTopic
          と shouldContinue 変数に上書きします。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":1},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"nextSearchTopic
          の値を topics 配列に追加し、検索テーマのリストを形成します。","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"listitem","version":1,"value":2}],"direction":"ltr","format":"","indent":0,"type":"list","version":1,"listType":"bullet","start":1,"tag":"ul"}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 433
      height: 140
      id: '1739285254837'
      position:
        x: 1330.3784562877254
        y: 402.9591941466761
      positionAbsolute:
        x: 1330.3784562877254
        y: 402.9591941466761
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 433
    viewport:
      x: -885.2437568875339
      y: -107.70924779249947
      zoom: 0.6284778357605242
  rag_pipeline_variables: []
